// ACTIVITY COMPONENT
#activity {
    padding: 8rem 0;
    .title {
        font-size: $fnt-sz-18;
        font-weight: $fnt-wgt-700;
    }
    .card-wrapper {
        min-height: 23vh;
        max-width: 23vh;
        border-radius: 17px 0 0 17px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        cursor: pointer;
    }
    .ticket-info {
        background: transparent
            linear-gradient(124deg, #1c1c1c 0%, #101010 100%) 0% 0% no-repeat
            padding-box;
        border-radius: 0 17px 17px 0;
        .prize-info {
            .prize-title {
                font-weight: $fnt-wgt-600;
                font-size: $fnt-sz-14;
                color: white;
                margin-bottom: 0.3em;
            }
            .prize-subtitle {
                color: white;
                font-size: $fnt-sz-12;
                line-height: 120%;
            }
        }

        .ticket-wrapper {
            position: absolute;
            bottom: 0;
            .your-tickets {
                .label {
                    color: #00c1b9;
                    font-size: $fnt-sz-10;
                    font-weight: $fnt-wgt-600;
                }
                .tickets {
                    color: white;
                    font-size: $fnt-sz-12;
                }
            }

            .pool-tickets {
                background-color: #1d1d1d;
                border-bottom-right-radius: 17px;
                .required-tickets {
                    color: #9d9d9d;
                    font-size: $fnt-sz-12;
                }
            }
        }
    }
}

// EMPTY PAGE - ACTIVITY
.no-result {
    min-height: 55vh;
    @media only screen and (min-width: 375px) {
        min-height: 65vh;
    }
    @media only screen and (min-width: 768px) {
        min-height: 60vh;
    }
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
        font-size: 1.75rem;
    }
    .subtitle {
        font-size: 0.9rem;
        color: #868686;
        max-width: 35ch;
        line-height: 1.5;
        a {
            color: #7824f8 !important;
        }
    }
}
