#friend-invitation {
    .wrapper {
        .close-button {
            right: -10px;
        }
        .invitaiton {
            background: linear-gradient(90deg, #302f2f -6%, #0b0b0b 100%);
            border-radius: 10px;
            .title {
                font-weight: $fnt-wgt-600;
                font-size: $fnt-sz-14;
                @include media-min($md) {
                    font-size: $fnt-sz-18;
                }
                width: 24ch;
            }
            .subtitle {
                color: #868686;
                width: 26ch;
                font-size: $fnt-sz-12;
                @include media-min($md) {
                    font-size: $fnt-sz-14;
                }
                .friend-username {
                    color: #14daa7;
                }
            }
            .reward {
                border-radius: 15px;
                background: linear-gradient(90deg, #302f2f 44%, #1d1d1d 100%);
                width: fit-content;
                .title {
                    font-size: $fnt-sz-12;
                }
                .gems {
                    font-weight: $fnt-wgt-600;
                    font-size: $fnt-sz-20;
                    color: #14daa7;
                }
            }
        }

        .img {
            width: 500px;
            height: 200px;
            object-fit: cover;
            object-position: top;
        }
    }
}
