// STAY TUNED COMPONENT
iframe#demo-game {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 3;
}
.quit-demo-btn {
    position: fixed;
    z-index: 4;
}
.stay-tune {
    .title {
        text-align: center;
        width: 100%;
        position: relative;
        z-index: 0;
        color: #ff3399;
        font-weight: bold;
        font-size: $fnt-sz-40;
        @include media-min($md) {
            font-size: $fnt-sz-50;
        }
    }
    .subtitle-1 {
        font-weight: $fnt-wgt-700;
        font-size: $fnt-sz-18;
        @include media-min($md) {
            font-size: $fnt-sz-20;
        }
    }
    .subtitle-2 {
        font-size: $fnt-sz-12;
        @include media-min($md) {
            font-size: $fnt-sz-14;
        }
    }
    .game-icon {
        img {
            width: 60px;
            @include media-min($md) {
                width: 100px;
                border: 2px solid white;
            }
            border-radius: 12px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
