// HIGHSCORE
#high-score {
    position: relative;
    padding-top: 5rem;
    @include media-min($xs) {
        padding-top: 6rem;
    }

    @media (pointer: none), (pointer: coarse) {
        margin-bottom: 150px;
    }
    .wrapper {
        .main-title {
            font-weight: $fnt-wgt-700;
            font-size: $fnt-sz-14;
            @include media-min($md) {
                font-size: $fnt-sz-18;
            }
        }
        .highscore-card {
            border-radius: 12px;
            min-height: 4.5em;
            font-size: 12px;
            img {
                border-radius: 7px;
                width: 56px;
            }
            .game-title {
                font-size: $fnt-sz-12;
                @include media-min($md) {
                    font-size: $fnt-sz-16;
                }
                font-weight: $fnt-wgt-600;
            }
            .score {
                color: #14daa7;
                font-weight: $fnt-wgt-600;
                font-size: $fnt-sz-12;
                @include media-min($md) {
                    font-size: $fnt-sz-16;
                }
            }
            .score-date {
                font-size: $fnt-sz-10;
                @include media-min($md) {
                    font-size: $fnt-sz-12;
                }
            }
        }
    }
}
