// HIGHSCORE
#high-score {
    position: relative;
    margin-top: 140px;
    .wrapper {
        .title {
            font-family: Ilisarniq-Bold;
            margin-top: 1rem;
            font-size: 1.5rem;
            @media only screen and (min-width: 768px) {
                font-size: 28px;
                margin-top: 2rem;
            }
        }
        .highscore-card {
            border-radius: 12px;
            min-height: 4.5em;
            font-size: 12px;
            img {
                border: 2px solid white;
                border-radius: 7px;
                width: 76px;
                @media only screen and (min-width: 991px) {
                    width: 100%;
                }
                @media only screen and (min-width: 1200px) {
                    width: 76px;
                }
            }
            .game-title {
                font-size: 16px;
                font-family: Ilisarniq-Bold;
            }
            .score {
                color: #14daa7;
                display: flex;
                align-self: flex-start;
                justify-content: flex-end;
                font-family: Ilisarniq-Bold;
                font-size: 0.75rem;
                @media only screen and (min-width: 768px) {
                    font-size: 14px;
                }
            }
            .score-date {
                font-size: 12px;
                color: #868686;
            }
            .game-icon {
                min-width: 58px;
            }
        }
    }
}
