// TOURNAMENT PANEL COMPONENT
#game-screen {
    position: relative;
    padding-top: 6rem;
    .prize-info-wrapper {
        margin-bottom: 2.5rem;
        min-height: 5rem;
        @media only screen and (min-width: 992px) {
            min-height: 10rem;
        }
        .prize-img {
            height: 5rem;
            width: 5rem;
            @media only screen and (min-width: 992px) {
                height: 9.875rem;
                width: 9.875rem;
            }
            border-radius: 10px;
            object-fit: cover;
        }
        .prize-text-holder {
            min-height: inherit;
            .prize-id {
                font-size: $fnt-sz-10;
            }
            .prize-title {
                font-size: $fnt-sz-18;
                font-weight: $fnt-wgt-700;
            }
            .prize-description {
                font-size: $fnt-sz-12;
                color: white;
            }
            .token-and-draw-start-holder {
                .your-tokens-text {
                    font-family: $fnt-fam;
                    font-size: 0.75rem;
                    color: #00c1b9;
                }
                .your-tokens-number {
                    font-family: $fnt-fam;
                    font-size: 1.125rem;
                    color: #ffffff;
                    margin-left: 10px;
                    font-weight: bold;
                }
                .draw-text {
                    color: #ffffff;
                    font-size: $fnt-sz-12;
                    margin-right: 10px;
                }
                .total-tickets-text {
                    color: #ffffff;
                    font-size: $fnt-sz-12;
                    // @media screen and (min-width: 768px) {
                    //     font-size: 0.875rem;
                    // }
                }
                .tickets-text {
                    font-size: $fnt-sz-18;
                    font-weight: bold;
                }
                .tickets-text-end {
                    font-size: $fnt-sz-18;
                }
            }
        }
    }
    .game-info {
        background: linear-gradient(134deg, #1c1c1c 0%, #0b0b0b 100%);
        border-radius: 10px;
        .join-tournament-wrapper {
            .statement-title {
                font-size: $fnt-sz-18;
                font-weight: $fnt-wgt-700;
                text-transform: uppercase;
            }
            img.question-mark-img {
                cursor: pointer;
            }
        }
        .statement-subtitle {
            font-size: $fnt-sz-14;
        }
        .scrolling-wrapper {
            @media only screen and (max-width: 992px) {
                overflow-x: scroll;
                flex-wrap: nowrap;
                flex-direction: row;
                &:hover {
                    cursor: grab;
                }
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
        .scrolling-wrapper.active {
            cursor: grabbing;
        }
    }
    .fortune-wheel-btn {
        cursor: pointer;
        background: linear-gradient(134deg, #1c1c1c 0%, #0b0b0b 100%);
        border-radius: 12px;
        .the-spinner-text {
            font-size: $fnt-sz-10;
            color: #00c1b9;
        }
        .earn-more-tickets-text {
            font-weight: $fnt-wgt-600;
            font-size: $fnt-sz-12;
            margin-bottom: 3px;
        }
        img.earn-more-tickets-img {
            align-self: center;
            justify-self: center;
            width: 100%;
        }
    }
}
