// TOURNAMENT PANEL COMPONENT
#game-screen {
    position: relative;
    padding-top: 5rem;
    @include media-min($md) {
        padding-top: 6rem;
    }
    .prize-info-wrapper {
        min-height: 5rem;
        @include media-min($lg) {
            min-height: 10rem;
        }
        .prize-img {
            height: 5rem;
            width: 5rem;
            @include media-min($lg) {
                height: 9.875rem;
                width: 9.875rem;
            }
            border-radius: 10px;
            object-fit: cover;
        }
        .contract-address {
            position: absolute;
            top: .5rem;
            left: 1.7rem;
        }
        .prize-text-holder {
            min-height: inherit;
            .prize-id {
                font-size: $fnt-sz-8;
                @include media-min($md) {
                    font-size: $fnt-sz-10;
                }
            }
            .prize-title {
                font-size: $fnt-sz-14;
                @include media-min($md) {
                    font-size: $fnt-sz-18;
                }
                font-weight: $fnt-wgt-700;
            }
            .prize-description {
                font-size: $fnt-sz-10;
                @include media-min($md) {
                    font-size: $fnt-sz-12;
                }
                color: white;
            }
        }
    }
    .separator {
        background-color: #343434;
        width: 3rem;
        height: 1px;
        margin: 0 0 20px 15px;
    }
    .token-and-draw-start-holder {
        .your-tokens-text {
            font-size: $fnt-sz-10;
            @include media-min($md) {
                font-size: $fnt-sz-12;
            }
            color: #00c1b9;
        }
        .your-tokens-number {
            font-size: $fnt-sz-14;
            @include media-min($md) {
                font-size: $fnt-sz-18;
            }
            font-weight: $fnt-wgt-700;
        }
        .draw-text {
            font-size: $fnt-sz-10;
            @include media-min($md) {
                font-size: $fnt-sz-12;
            }
        }
        .total-tickets-text {
            font-size: $fnt-sz-10;
            @include media-min($md) {
                font-size: $fnt-sz-12;
            }
        }
        .tickets-text {
            font-size: $fnt-sz-14;
            @include media-min($md) {
                font-size: $fnt-sz-18;
            }
            font-weight: $fnt-wgt-700;
        }
        .tickets-text-end {
            font-size: $fnt-sz-18;
        }
        .overtime-text {
            font-size: $fnt-sz-18;
            @include media-min($md) {
                font-size: $fnt-sz-20;
            }
            font-weight: $fnt-wgt-700;
        }
    }
    .game-info {
        background: linear-gradient(134deg, #2A2A2A 0%, #0b0b0b 80%);
        border-radius: 10px;
        .join-tournament-wrapper {
            .statement-title {
                font-size: $fnt-sz-14;
                @include media-min($md) {
                    font-size: $fnt-sz-18;
                }
                font-weight: $fnt-wgt-700;
                text-transform: uppercase;
            }
            img.question-mark-img {
                cursor: pointer;
            }
        }
        .statement-subtitle {
            font-size: $fnt-sz-10;
            width: 40ch;
            @include media-min($md) {
                width: auto;
                font-size: $fnt-sz-14;
            }
        }
        .scrolling-wrapper {
            @include media-max($xl) {
                overflow-x: scroll;
                flex-wrap: nowrap;
                flex-direction: row;
                &:hover {
                    cursor: grab;
                }
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
        .scrolling-wrapper.active {
            cursor: grabbing;
        }
    }
    .fortune-wheel-btn {
        position: relative;
        min-height: 5rem;
        width: 100%;
        cursor: pointer;
        background: linear-gradient(134deg, #1c1c1c 0%, #0b0b0b 100%);
        border-radius: 12px;
        .the-spinner-text {
            font-size: $fnt-sz-10;
            color: #00c1b9;
        }
        .earn-more-tickets-text {
            font-weight: $fnt-wgt-600;
            font-size: $fnt-sz-12;
            margin-bottom: 3px;
            @include media-max($xl) {
                width: 10ch;
            }
        }
        .earn-more-tickets-img {
            align-self: center;
            justify-self: center;
            width: 100%;
            @include media-max($xl) {
                position: absolute;
                top: 1rem;
                right: 0.5rem;
                width: 3rem;
            }
        }
    }
}
