.payment-type-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(12px);
    .payment-type-card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20rem;
        height: 20rem;
        background-color: white;
        border-radius: 12px;
    }
}
