// PLAYER MULTIPLIER LEVEL
#player-level {
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background-color: rgba(244, 244, 244, 0.9);
    }
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }
    .level-modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .level-wrapper {
            border-radius: 12px;
            padding: 0 0.7rem;
            .close-button {
                top: 0;
                right: 0;
                width: 30px;
                height: 30px;
            }
            .scrolling-wrapper-y {
                border-radius: 6px;
                margin: 0.7rem 0 1.5rem 0;
                height: 80vh;
                background: linear-gradient(160deg, #302f2f 0%, #0b0b0b 100%);
                overflow-y: scroll;
                -ms-overflow-style: none;
                scrollbar-width: none;
                padding: 1rem;
                .current-level-wrapper {
                    position: relative;
                    margin-top: 3rem;
                    border-radius: 20px;
                    box-shadow: 0px 5px 10px #00000029;
                    background: linear-gradient(
                        142deg,
                        #2e2e2e 0%,
                        #1f1f1f 100%
                    );
                    padding: 4rem 0.5rem 0.5rem 0.5rem;
                    @include media-min($md) {
                        padding: 4rem 1rem 1rem 1rem;
                        background: linear-gradient(
                            180deg,
                            #1c1c1c 0%,
                            #141414 100%
                        );
                    }
                    .level-indicator-wrapper {
                        position: absolute;
                        top: -3.3rem;
                        left: 50%;
                        transform: translate(-50%, 0);
                        width: 6.75rem;
                        height: 6.75rem;
                        @include media-min($md) {
                            width: 6.688rem;
                            height: 6.688rem;
                        }
                        background: linear-gradient(
                            135deg,
                            #393939 0%,
                            #171717 100%
                        );

                        border-radius: 100%;
                        margin: 0 auto;
                        border: 4px solid #404040;
                        .level {
                            font-size: 46px;
                            font-weight: $fnt-wgt-700;
                            line-height: 1em;
                        }
                        span {
                            font-size: $fnt-sz-14;
                        }
                    }
                    .statement {
                        width: 23ch;
                        font-weight: $fnt-wgt-700;
                        font-size: $fnt-sz-12;
                        @include media-min($md) {
                            font-size: $fnt-sz-18;
                        }
                    }
                    .current-level-details-wrapper {
                        width: 100%;
                        height: 100%;
                        border-radius: 6px;
                        .exp {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .multiplier-text {
                                p {
                                    font-weight: $fnt-wgt-600;
                                    font-size: $fnt-sz-12;
                                    @include media-min($md) {
                                        font-size: $fnt-sz-16;
                                    }
                                }
                                .multiplier-value {
                                    color: #00c1b9;
                                }
                            }
                            .exp-count {
                                font-size: $fnt-sz-12;
                                @include media-min($md) {
                                    font-size: $fnt-sz-14;
                                    background: #313131;
                                }
                                color: #868686;
                                border-radius: 20px;
                                min-height: 2.2rem;
                                min-width: 6.5rem;
                                .player-exp {
                                    color: white;
                                    font-weight: $fnt-wgt-700;
                                }
                            }
                        }
                        .progress {
                            position: relative;
                            width: 100%;
                            border-radius: 1rem;
                            background-color: #313131;
                            height: 1rem;
                            @include media-min($md) {
                                height: 1.5rem;
                            }
                            .progress-bar {
                                border-radius: 1rem;
                                background: linear-gradient(
                                    266deg,
                                    #00c1b9 0%,
                                    #047c98 100%
                                );
                                height: inherit;
                            }
                        }
                    }
                }
                .gap {
                    margin: 1.5rem auto;
                    @include media-min($md) {
                        margin: 1rem auto;
                    }
                    img {
                        width: 26px;
                        height: 22px;
                    }
                }
                .level-type-wrapper {
                    background: linear-gradient(
                        142deg,
                        #2e2e2e 0%,
                        #1f1f1f 100%
                    );
                    border-radius: 10px;
                }
                .level-type-head {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    background: linear-gradient(
                        160deg,
                        #302f2f -53%,
                        #0b0b0bfc 100%
                    );
                    p {
                        color: white;
                        font-size: $fnt-sz-12;
                        @include media-min($md) {
                            font-size: $fnt-sz-14;
                        }
                        font-weight: $fnt-wgt-600;
                    }
                    .level-exp {
                        @include media-min($md) {
                            background: #313131;
                        }
                        color: #868686;
                        border-radius: 20px;
                        font-size: $fnt-sz-12;
                        min-height: 2.25rem;
                        min-width: 4.5rem;
                    }
                }
                .level-type-content {
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    background: #181818;
                    text-align: center;
                    .reward-text {
                        font-size: $fnt-sz-10;
                        color: #868686;
                    }
                    .ticket-text {
                        font-weight: $fnt-wgt-600;
                        font-size: $fnt-sz-12;
                        @include media-min($md) {
                            font-size: $fnt-sz-14;
                        }
                        .ticket-value {
                            color: #14daa7;
                        }
                    }
                    .gems {
                        p {
                            font-size: $fnt-sz-12;
                            @include media-min($md) {
                                font-size: $fnt-sz-14;
                            }
                            font-weight: $fnt-wgt-600;
                            color: #14daa7;
                        }
                    }
                }
            }
            .scrolling-wrapper-y::-webkit-scrollbar {
                width: 0; /* Safari and Chrome */
            }
        }
    }
}
