// PLAYER MULTIPLIER LEVEL
#player-level {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background-color: rgba(244, 244, 244, 0.9);
    }
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }
    .level-modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .level-wrapper {
            border-radius: 12px;
            padding: 0 0.7rem;
            .close-button {
                top: 0;
                right: -8px;
            }
            .scrolling-wrapper-y {
                border-radius: 6px;
                margin: 0.7rem 0 1.5rem 0;
                height: 80vh;
                background: linear-gradient(160deg, #302f2f 0%, #0b0b0b 100%) 0%
                    0% no-repeat padding-box;
                overflow-y: scroll;
                -ms-overflow-style: none;
                scrollbar-width: none;
                padding: 1rem;
                .current-level-wrapper {
                    position: relative;
                    background: linear-gradient(
                            180deg,
                            #1c1c1c 0%,
                            #141414 100%
                        )
                        0% 0% no-repeat padding-box;
                    border-radius: 20px;
                    margin-top: 6rem;
                    padding: 4rem 0.5rem 0.5rem 0.5rem;
                    @media only screen and (min-width: 768px) {
                        padding: 4rem 1rem 1rem 1rem;
                    }
                    .level-indicator-wrapper {
                        position: absolute;
                        top: -20px;
                        left: 50%;
                        transform: translate(-50%, 0);
                        .level-indicator {
                            background: linear-gradient(
                                    135deg,
                                    #393939 0%,
                                    #171717 100%
                                )
                                0% 0% no-repeat padding-box;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 7rem;
                            height: 7rem;
                            border-radius: 100%;
                            margin: 0 auto;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            border: 4px solid #404040;
                            .level {
                                font-size: 46px;
                                font-weight: $fnt-wgt-700;
                                line-height: 1em;
                            }
                            span {
                                font-size: $fnt-sz-14;
                            }
                        }
                    }
                    .statement {
                        color: white;
                        padding: 0 3.5rem;
                        width: 100%;
                        text-align: center;
                        margin-bottom: 2em;
                        font-size: 1.2rem;
                        @media only screen and (min-width: 768px) {
                            font-size: $fnt-sz-18;
                            margin-bottom: 1em;
                        }
                    }
                    .current-level-details-wrapper {
                        width: 100%;
                        height: 100%;
                        padding: 1.2rem;
                        border-radius: 6px;
                        .exp {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .multiplier-text {
                                p {
                                    color: white;

                                    font-size: 0.75rem;
                                    font-weight: $fnt-wgt-600;
                                    @media only screen and (min-width: 768px) {
                                        font-size: $fnt-sz-16;
                                    }
                                }
                                .multiplier-value {
                                    font-size: $fnt-sz-16;
                                    font-weight: $fnt-wgt-600;
                                    color: #00c1b9;
                                }
                            }
                            .exp-count {
                                font-size: $fnt-sz-14;
                                background: #313131;
                                color: #868686;
                                border-radius: 20px;
                                align-items: center;
                                justify-content: center;
                                min-height: 2.2rem;
                                min-width: 6.5rem;
                                padding: 0 1rem;
                                .player-exp {
                                    font-weight: $fnt-wgt-700;
                                    font-size: $fnt-sz-12;
                                    @media only screen and (min-width: 768px) {
                                        font-size: $fnt-sz-14;
                                    }
                                }
                            }
                        }
                        .progress {
                            position: relative;
                            width: 100%;
                            border-radius: 1rem;
                            background-color: #313131;
                            height: 1rem;
                            @media only screen and (min-width: 768px) {
                                height: 1.5rem;
                            }
                            .progress-bar {
                                border-radius: 1rem;
                                background: linear-gradient(
                                    266deg,
                                    #00c1b9 0%,
                                    #047c98 100%
                                );
                                height: inherit;
                            }
                        }
                    }
                }
                .gap {
                    margin: 0.8rem auto;
                    img {
                        margin: 0.7rem auto 0.8rem auto;
                    }
                }
                .level-type {
                    background: linear-gradient(
                            180deg,
                            #1c1c1c 0%,
                            #141414 100%
                        )
                        0% 0% no-repeat padding-box;
                    border-radius: 12px;
                    .level-type-wrapper {
                        padding: 0.7rem 1.2rem;
                    }
                    .level-type-head {
                        p {
                            color: white;
                            font-size: $fnt-sz-14;
                            font-weight: $fnt-wgt-600;
                        }
                        .level-exp {
                            background: #313131;
                            color: #868686;
                            border-radius: 20px;
                            font-size: $fnt-sz-12;
                            min-height: 2.25rem;
                            min-width: 4.5rem;
                        }
                    }
                    .level-type-content {
                        background: #222222;
                        border-radius: 6px;
                        text-align: center;
                        .reward-text {
                            font-size: $fnt-sz-10;
                            color: #868686;
                        }
                        .ticket-text {
                            font-size: 0.75rem;
                            font-weight: $fnt-wgt-600;
                            @media only screen and (min-width: 768px) {
                                font-size: $fnt-sz-14;
                            }
                            .ticket-value {
                                color: #14daa7;
                            }
                        }
                        .gems {
                            p {
                                font-size: $fnt-sz-14;
                                font-weight: $fnt-wgt-600;
                                color: #14daa7;
                            }
                        }
                    }
                }
            }
            .scrolling-wrapper-y::-webkit-scrollbar {
                width: 0; /* Safari and Chrome */
            }
        }
    }
}
