#leaderboard-history {
    .wrapper {
        .leaderboard {
            height: 80vh;
            @include media-min($md) {
                height: 90vh;
            }
            border-radius: 10px;
            position: relative;
            .leaderboard-game {
                background: linear-gradient(114deg, #1c1c1c 0%, #0b0b0b 100%);
                border-radius: 10px 10px 0px 0px;
                padding: 0.4em 0.65em;
                margin: 0;
                .game-thumbnail {
                    height: 60px;
                    width: auto;
                    object-fit: cover;
                    object-position: top;
                    border-radius: 4px;
                }
                .prize-name {
                    background-color: rgba(black, 0.35);
                    border-radius: 16px;
                    font-size: $fnt-sz-10;
                    @include media-min($md) {
                        font-size: $fnt-sz-12;
                    }
                }
                .game-name {
                    font-weight: $fnt-wgt-700;
                    font-size: $fnt-sz-12;
                    @include media-min($md) {
                        font-size: $fnt-sz-14;
                    }
                }
                .date {
                    font-size: $fnt-sz-8;
                    @include media-min($md) {
                        font-size: $fnt-sz-10;
                    }
                    color: #f7f7f7;
                }
            }
            .leaderboard-rank-wrapper {
                background: #0E0E0E;
                box-shadow: 0px 18px 26px #00000029;
                overflow: auto;
                .leaderboard-rank-layer {
                    &::-webkit-scrollbar {
                        width: 0; /* Safari and Chrome */
                    }
                    max-height: 100%;
                    overflow-y: scroll;
                    -ms-overflow-style: none; /* Internet Explorer 10+ */
                    scrollbar-width: none; /* Firefox */
                    .leaderboard-player-card {
                        min-height: 3.5rem;
                        position: relative;
                        .user-info {
                            .rank-and-avatar {
                                .rank-number {
                                    font-weight: $fnt-wgt-600;
                                    font-size: $fnt-sz-12;
                                }
                                .avatar {
                                    border-radius: 100%;
                                    object-fit: contain;
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                            .details {
                                .player-name {
                                    font-size: $fnt-sz-12;
                                    font-weight: $fnt-wgt-600;
                                    width: 10ch;
                                    @include media-min($md) {
                                        width: 20ch;
                                    }
                                    white-space: nowrap;
                                    overflow: hidden;
                                    display: inline-block;
                                    text-overflow: ellipsis;
                                }
                                .points {
                                    font-size: $fnt-sz-10;
                                    flex-wrap: nowrap;
                                    white-space: nowrap;
                                }
                            }
                        }
                        .tickets {
                            color: #f8ba29;
                            height: 100%;
                            span {
                                font-size: $fnt-sz-12;
                                @include media-min($md) {
                                    font-size: $fnt-sz-14;
                                }
                                font-weight: $fnt-wgt-600;
                            }
                        }
                    }
                    .leaderboard-player-card.current-user {
                        background: #fdc43d;
                        .rank-number,
                        .player-name,
                        .points,
                        .tickets {
                            color: black;
                        }
                    }
                    .leaderboard-level,
                    .leaderboard-exp {
                        color: #383838;
                        width: 85%;
                        margin: 0 auto;
                        font-size: 0.75rem;
                        @media only screen and (min-width: 768px) {
                            font-size: 0.938rem;
                            width: 75%;
                        }
                        p {
                            color: #868686;
                        }
                        .tickets {
                            border-radius: 30px;
                            height: 100%;
                            min-width: 85px;
                            span {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
            .earned-points {
                background: linear-gradient(130deg, #1c1c1c 0%, #0b0b0b 100%);
                border-radius: 0px 0px 10px 10px;
                .leaderboard-level,
                .leaderboard-exp {
                    width: 100%;
                    font-size: $fnt-sz-12;
                    @include media-min($md) {
                        font-size: $fnt-sz-14;
                    }
                    .tickets {
                        color: #F8BA29;
                        font-weight: $fnt-wgt-600;
                        min-width: 90px;
                        border-radius: 7px;
                    }
                }
                .line {
                    width: 100%;
                    height: 1px;
                    background-color: #3E3E3E;
                    margin: 1.5rem 0;
                }
                .leaderboard-exp {
                    .exp {
                        font-weight: $fnt-wgt-600;
                        color: #00c1b9;
                    }
                }
            }
        }
    }
}
