// REWARDS
#rewards-panel {
    padding-top: 6rem;
    .main-title {
        font-weight: $fnt-wgt-700;
        font-size: $fnt-sz-18;
    }
    .claimed-title,
    .unclaimed-title {
        font-weight: $fnt-wgt-600;
        font-size: $fnt-sz-12;
        @include media-min($md) {
            font-size: $fnt-sz-14;
        }
    }
    .card-wrapper {
        border-radius: 10px;
        background: linear-gradient(116deg, #302f2f 0%, #101010 100%);
        position: relative;
        cursor: pointer;
        .prize-image {
            height: 6.5rem;
            width: 6.5rem;
            border-radius: 10px;
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: center;
        }

        .prize-text {
            .card-title {
                font-size: $fnt-sz-14;
                font-weight: $fnt-wgt-700;
                color: white;
                line-height: 120%;
            }
            .card-subtitle {
                font-size: 0.75rem;
                @media only screen and (min-width: 1320px) {
                    font-size: 0.875rem;
                }
                color: white;
                line-height: 120%;
            }
        }
        .prize-claimed {
            position: absolute;
            bottom: 0;
            font-size: $fnt-sz-12;
        }
        .text-red {
            font-weight: $fnt-wgt-700;
            color: #bf0000;
        }
    }
    .prize {
        h4 {
            font-size: 16px;
            @media only screen and (min-width: 768px) {
                font-size: 28px;
            }
        }
        p {
            font-size: 0.75rem;
            @media only screen and (min-width: 768px) {
                font-size: 0.875rem;
            }
            a {
                color: #7824f8 !important;
            }
        }
    }
}
