// REWARDS
#rewards-panel {
    padding-top: 6rem;
    .main-title {
        font-weight: $fnt-wgt-700;
        font-size: $fnt-sz-18;
    }
    .div-items {
        height: inherit;
        font-size: $fnt-sz-20;
        .btn-clicked {
            cursor: pointer;
            color: #f20086;
            border-bottom: 3px solid #f20086;
            padding-bottom: $fnt-sz-8;
        }
        .btn-unclicked {
            cursor: pointer;
        }
    }
    .claimed {
        cursor: pointer;
    }
    .unclaimed {
        min-height: 10rem;
        .card-wrapper {
            video,
            img {
                height: 9.875rem;
                width: 9.875rem;
            }
        }
    }
    .claimed-title,
    .unclaimed-title {
        font-weight: $fnt-wgt-600;
        font-size: $fnt-sz-12;
        @include media-min($md) {
            font-size: $fnt-sz-14;
        }
    }
    .card-wrapper {
        border-radius: 10px;
        background: linear-gradient(116deg, #302f2f 0%, #101010 100%);
        position: relative;
        video,
        img {
            border-radius: 10px;
            position: relative;
        }
        // img, video {
        //     width: 100%;
        //     min-height: 9rem;
        //     @include media-min($md) {
        //         min-height: 11.063rem;
        //     }
        //     object-fit: cover;
        //     border-radius: 17px 0 0 17px;
        // }
        .prize-text {
            .card-title {
                font-size: $fnt-sz-14;
                font-weight: $fnt-wgt-700;
                color: white;
                line-height: 120%;
            }
            .card-subtitle {
                font-size: $fnt-sz-12;
                @media only screen and (min-width: 1320px) {
                    font-size: $fnt-sz-12;
                }
                color: white;
                line-height: 120%;
            }
        }
        .prize-footer {
            .card-winner-pending-info {
                font-size: $fnt-sz-12;
            }
            .claim-btn {
                background-color: #f20086;
                box-shadow: inset 0px 3px 6px #0000000f;
                border-radius: 5px;
            }
        }
        .prize-claimed {
            font-size: $fnt-sz-12;
            font-weight: $fnt-wgt-700;
        }
        .cursor-pointer {
            cursor: pointer;
        }
        .text-red {
            color: #bf0000;
        }
        .text-wait {
            color: #bf9a00;
        }
    }
    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 10px;
        cursor: default;
    }
    .prize {
        h4 {
            font-size: 16px;
            @media only screen and (min-width: 768px) {
                font-size: 28px;
            }
        }
        p {
            font-size: 0.75rem;
            @media only screen and (min-width: 768px) {
                font-size: 0.875rem;
            }
            a {
                color: #7824f8 !important;
            }
        }
    }
}
