// SUBSCRIPTION COMPONENT
#iap-items {
    padding: 6rem 0;
    .gems-wrapper {
        .title {
            font-size: $fnt-sz-18;
            font-weight: $fnt-wgt-600;
        }
        .pack {
            .gem-info {
                background: linear-gradient(160deg, #302f2f 0%, #0b0b0b 100%);
                box-shadow: 0px 3px 6px #00000029;
                border-radius: 10px 10px 0px 0px;
                height: 238px;
                .gem-title {
                    font-size: $fnt-sz-12;
                    font-weight: $fnt-wgt-300;
                }
                .quantity {
                    font-size: $fnt-sz-16;
                    font-weight: $fnt-wgt-600;
                }
            }
            .price {
                border-radius: 0px 0px 10px 10px;
                padding: 1.35em;
                height: 52px;
                font-weight: $fnt-wgt-500;
                background: linear-gradient(0deg, #d3076a 0%, #d3076a 100%);
                font-size: $fnt-sz-14;
                // @media only screen and (min-width: 425px) {
                //     font-size: 20px;
                // }

                .estimated-text {
                    margin-right: 0.15em;
                }
                .estimated-text,
                .estimated-value {
                    // margin-top: 100px;

                    // font-size: 0.45rem;
                    // @media only screen and (min-width: 360px) {
                    //     font-size: 0.6rem;
                    // }
                    // @media only screen and (min-width: 480px) {
                    //     font-size: 0.875rem;
                    // }
                    // @media only screen and (min-width: 1200px) {
                    //     font-size: 0.65rem;
                    // }
                    // @media only screen and (min-width: 1480px) {
                    //     font-size: 0.875rem;
                    // }
                }
                .estimated-value {
                }
            }
        }
    }
}
