// ACTIVITY CARD COMPONENT
.activity-card-wrapper {
    .activity-card {
        background: linear-gradient(90deg, #433849, #2f2833);
        border-radius: 10px;
    }
    .card-wrapper {
        /* COMMENTED FOLLOWING STYLE, MOVED TO [img] & [video] */
        // min-height: 9rem;
        // @include media-min($md) {
        //     min-height: 11.063rem;
        // }
        // border-radius: 17px 0 0 17px;
        // position: relative;
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: top;
        cursor: pointer;
        width: 200px;

        img,
        video {
            width: 100%;
            min-height: 9rem;
            @include media-min($md) {
                min-height: 11.063rem;
            }
            object-fit: cover;
            border-radius: 5px 0 0 5px;
        }
    }

    .ticket-info {
        min-height: 9rem;
        @include media-min($md) {
            min-height: 11.063rem;
        }
        .prize-info {
            .prize-title {
                font-size: $fnt-sz-14;
                @include media-min($md) {
                    font-size: $fnt-sz-20;
                }
                font-weight: $fnt-wgt-600;
                color: white;
            }
            .prize-subtitle {
                color: white;
                font-size: $fnt-sz-10;
                @include media-min($md) {
                    font-size: $fnt-sz-12;
                }
                line-height: 120%;
            }
        }

        .ticket-wrapper {
            .your-tickets {
                .label {
                    color: #9d9d9d;
                    font-size: $fnt-sz-12;
                    @include media-min($md) {
                        font-size: $fnt-sz-16;
                    }
                    font-weight: $fnt-wgt-600;
                }
                .tickets {
                    color: #00c1b9;
                    font-weight: bold;
                    font-size: $fnt-sz-14;
                    @include media-min($md) {
                        font-size: $fnt-sz-18;
                    }
                }
            }
            .pool-tickets {
                .required-tickets {
                    color: white;
                    font-size: $fnt-sz-12;
                    @include media-min($md) {
                        font-size: $fnt-sz-14;
                    }
                }
                .bold-text {
                    font-weight: bold;
                }
            }
        }
    }
}
