@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

@font-face {
    font-family: Ilisarniq-Bold;
    src: url(https://esportsmini-assets.s3.ap-southeast-1.amazonaws.com/app/fonts/Ilisarniq-Bold.otf)
        format("opentype");
}
@font-face {
    font-family: Ilisarniq-Regular;
    src: url(https://esportsmini-assets.s3.ap-southeast-1.amazonaws.com/app/fonts/Ilisarniq-Regular.otf)
        format("opentype");
}