// DEFAULT FONT SIZE - BODY
$root-fnt-sz: 10px;
// FONT SIZES
$fnt-sz-10: 1rem;
$fnt-sz-12: 1.2rem;
$fnt-sz-14: 1.4rem;
$fnt-sz-16: 1.6rem;
$fnt-sz-18: 1.8rem;
$fnt-sz-20: 2rem;
$fnt-sz-22: 2.2rem;
$fnt-sz-24: 2.4rem;
$fnt-sz-26: 2.6rem;
$fnt-sz-28: 2.8rem;
// FONT WEIGHTS
$fnt-wgt-300: 300;
$fnt-wgt-400: 400;
$fnt-wgt-500: 500;
$fnt-wgt-600: 600;
$fnt-wgt-700: 700;
$fnt-wgt-800: 800;
// FONT FAMILY
$fnt-fam: "Open Sans", sans-serif;
