// FORTUNE WHEEL COMPONENT
.fortune-wheel-fixed-btn-container {
    cursor: pointer;
    position: absolute;
    background: "transparent linear-gradient(134deg, #1C1C1C 0%, #0B0B0B 100%) 0% 0% no-repeat padding-box";
    border-radius: 12px;
    padding: 12px;
    bottom: 0px;
    // right: 0px;
    left: 802px;
    // @media only screen and (min-width: 1024px) {
    //     right: 1em;
    //     bottom: 0;
    // }
    min-width: 103px;
    min-height: 142px;
    // transition: all 0.3s ease-in;
    // &:hover {
    //     right: 1em;
    //     bottom: 0;
    //     .button-wrapper {
    //         opacity: 1;
    //         visibility: visible;
    //     }
    // }
    .spinner-wrapper {
        position: relative;
        height: 118px;
        bottom: 1em;
        .spinner {
            position: absolute;
            z-index: -1;
            top: 3em;
            left: -0.5em;
            width: 100%;
            height: inherit;
        }
    }
    .button-wrapper {
        background: #ffffff;
        box-shadow: 0px 10px 15px #00000026;
        border-radius: 10px;
        padding: 0.3em;
        bottom: 1em;
        position: relative;
        opacity: 0;
        visibility: hidden;
        @media only screen and (min-width: 1024px) {
            opacity: 1;
            visibility: visible;
        }
        button {
            font-size: 0.875rem;

            background: #14daa7;
            box-shadow: 0px 10px 15px #00000026;
            border-radius: 5px;
            color: white;
            min-width: 100%;
            padding: 1em;
        }
    }
    .the-spinner-text-wrapper {
        color: "#00C1B9";
        margin-bottom: 3px;
    }
    .earn-more-tickets-text-wrapper {
        font-weight: bold;
        font-size: $fnt-sz-12;
        margin-bottom: 3px;
    }
}
.fortune-wheel {
    position: fixed;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background-color: rgba(244, 244, 244, 0.9);
    }
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }
    z-index: 3;
    .fortune-wheel-wrapper {
        background: transparent
            linear-gradient(145deg, #1c1c1c 0%, #0b0b0b 100%) 0% 0% no-repeat
            padding-box;
        border-radius: 10px;
        opacity: 1;
        box-shadow: 0px 15px 20px #6d38ef80;
        height: 639px;
        min-height: 70vh;
        width: 905px;
        max-width: 100%;
        @media only screen and (min-width: 1024px) {
            min-height: 85vh;
        }
        .spinner-info-icon {
            position: absolute;
            top: 0.7em;
            left: 0.7em;
            width: 24px;
            z-index: 1;
        }
        .tickets {
            .title {
                text-transform: uppercase;
                color: white;
                font-size: 0.8rem;
                @media only screen and (min-width: 768px) {
                    font-size: 1rem;
                }
                @media only screen and (min-width: 1441px) {
                    font-size: 1.25rem;
                }
            }
            .tickets-wrapper {
                box-shadow: 0px 15px 20px #00000029;
                padding: 0.5em 2em;
                min-height: inherit;
                background: transparent
                    linear-gradient(106deg, #fdc43d 0%, #efa500 100%);
                box-shadow: 0px 10px 15px #00000029;
                border-radius: 14px;
                color: white;
                border: 4.8px solid white;
                .ticket-text {
                    font-size: 0.625rem;
                    text-transform: uppercase;
                }
                .ticket-value {
                    font-size: 1.2rem;
                    @media only screen and (min-width: 1441px) {
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .wheel-spinner {
            color: white;
            cursor: default;
            .btn-spin-wrapper {
                background: #f4f4f4;
                color: white;
                width: 100%;
                border-radius: 50%;
                box-shadow: 5px 10px 30px #b7b7b7;
                position: absolute;
                top: 33%;
                left: 34%;
                width: 32.5%;
                height: 32.5%;
                @media only screen and (min-width: 360px) {
                    top: 35.5%;
                    left: 35.7%;
                    width: 28.5%;
                    height: 28.5%;
                }
                @media only screen and (min-width: 768px) {
                    top: 37.5%;
                    left: 37.5%;
                    width: 25%;
                    height: 25%;
                }
                .btn-spin {
                    border-radius: 50%;
                    width: 85%;
                    height: 85%;
                    background: radial-gradient(
                        closest-side at 52% -1%,
                        #906bff 0%,
                        #8f63fc 13%,
                        #8b4ef2 32%,
                        #852ce2 56%,
                        #7e00ce 81%
                    );
                    font-size: 12px;
                    @media only screen and (min-width: 360px) {
                        font-size: 14px;
                    }
                    box-shadow: 0px 5px 10px #b100ff79;
                    span {
                        font-size: 10px;
                        @media only screen and (min-width: 360px) {
                            font-size: 12px;
                        }
                        @media only screen and (min-width: 768px) {
                            font-size: 16px;
                        }
                        img {
                            width: 24px;
                        }
                    }
                }
            }
            .spin-wrapper {
                position: relative;
                svg {
                    width: clamp(14rem, 22vw, 24rem);
                    margin: 0 auto;
                    position: relative;
                    z-index: 0;
                    text {
                        font-size: 16px;
                    }
                    .max {
                        font-size: 20px;
                        fill: #fdc43d;
                    }
                }
                .pointer-img {
                    position: absolute;
                    top: 24%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: clamp(1rem, 2vw, 1.7rem);
                }
            }
        }
        .spin-available {
            color: white;
            font-size: 0.8rem;
            @media only screen and (min-width: 768px) {
                font-size: 1rem;
            }
            @media only screen and (min-width: 1441px) {
                font-size: 1.25rem;
            }
            .count {
                font-size: 1rem;
                @media only screen and (min-width: 360px) {
                    font-size: 1.25rem;
                }
                @media only screen and (min-width: 1441px) {
                    font-size: 1.75rem;
                }

                color: #fdc43d;
            }
        }
        .buy-more-spins,
        .buy-more-gems {
            background: linear-gradient(180deg, #04e4aa 0%, #01b789 100%);
            width: 100%;
            min-height: 60px;
            box-shadow: 0px 10px 15px #005a305f;
            border-radius: 10px;
            font-size: 12px;
            color: white;
            font-size: 10px;
            @media only screen and (min-width: 360px) {
                font-size: 12px;
            }
            @media only screen and (min-width: 768px) {
                font-size: 20px;
            }
        }
        .buy-more-gems {
            background: #ff2c44;
            color: white !important;
            span {
                font-size: 12px;
            }
        }
        .buy-more-spins {
            font-size: 0.9rem;
            @media only screen and (min-width: 360px) {
                font-size: 1rem;
            }
            @media only screen and (min-width: 768px) {
                font-size: 1.25rem;
            }
        }
        .fortune-wheel-flex-row-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            .navigation-container {
                width: 75px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .question-mark {
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    align-self: center;
                    background: #4573f1;
                    border-radius: 50%;
                    margin-top: 30px;
                    margin-bottom: 22px;
                }
            }
            .spinner-control-container {
                width: 302px;
                display: flex;
                flex-direction: column;
                margin-left: 36px;
                .the-spinner-text {
                    margin-top: 25px;
                    margin-bottom: 2px;
                    font-size: $fnt-sz-12;
                    color: #00c1b9;
                }
                .earn-more-tickets-text {
                    margin-bottom: 8px;
                    font-size: $fnt-sz-18;
                    font-weight: bold;
                }
                .spin-amount-left-text-container {
                    margin-bottom: 19px;
                    .spins-left-text,
                    .you-have-text {
                        font-size: $fnt-sz-12;
                    }
                    .spin-number {
                        font-size: $fnt-sz-18;
                        font-weight: bold;
                        color: #fdc43d;
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
                .ticket-amount-outer {
                    width: 225px;
                    height: 70px;
                    background: #ffffff 0% 0% no-repeat padding-box;
                    box-shadow: 0px 15px 20px #00000029;
                    border-radius: 10px;
                    opacity: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .ticket-amount-inner {
                        width: 213px;
                        height: 58px;
                        background: transparent
                            linear-gradient(105deg, #fdc43d 0%, #efa500 100%) 0%
                            0% no-repeat padding-box;
                        box-shadow: 0px 10px 15px #00000029;
                        border-radius: 5px;
                        opacity: 1;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        .your-tickets-text {
                            font-size: $fnt-sz-10;
                            margin-top: 9px;
                            margin-bottom: 2px;
                        }
                        .ticket-number {
                            font-size: $fnt-sz-18;
                            margin-bottom: 9px;
                            font-weight: bold;
                        }
                    }
                }
                .use-gems-button {
                    cursor: pointer;
                    width: 226px;
                    height: 54px;
                    background: transparent
                        linear-gradient(180deg, #04e4aa 0%, #01b789 100%) 0% 0%
                        no-repeat padding-box;
                    border-radius: 10px;
                    opacity: 1;
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    .use-gems-text {
                        font-size: $fnt-sz-14;
                        font-weight: bold;
                        margin-top: 9px;
                        margin-bottom: 1px;
                    }
                    .get-spins-text {
                        font-size: $fnt-sz-10;
                    }
                }
                .purchase-gems-button {
                    cursor: pointer;
                    width: 226px;
                    height: 54px;
                    background: #ff2c44 0% 0% no-repeat padding-box;
                    border-radius: 10px;
                    opacity: 1;
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    .insufficient-gems-text {
                        font-size: $fnt-sz-14;
                        font-weight: bold;
                        margin-top: 9px;
                        margin-bottom: 1px;
                    }
                    .purchase-text {
                        font-size: $fnt-sz-10;
                    }
                }
                table.probability-table {
                    width: 225px;
                    height: 341px;
                    opacity: 1;
                    position: absolute;
                    top: 278px;

                    tr:first-child td:first-child {
                        border-top-left-radius: 10px;
                    }
                    tr:first-child td:last-child {
                        border-top-right-radius: 10px;
                    }
                    tr:last-child td:first-child {
                        border-bottom-left-radius: 10px;
                    }
                    tr:last-child td:last-child {
                        border-bottom-right-radius: 10px;
                    }

                    tr.probability-row {
                        display: flex;
                        text-align: center;
                        td.probability-percentage {
                            font-size: $fnt-sz-12;
                            font-weight: bold;
                            width: 93.75px;
                            border: 1px solid #ffffff;
                            line-height: 30px;
                        }
                        td.probability-tickets-text {
                            font-size: $fnt-sz-12;
                            width: 131.25px;
                            border: 1px solid #ffffff;
                            line-height: 30px;
                        }
                    }

                    td:hover {
                        background-color: #4573f1;
                    }
                }
            }
            .fortune-wheel-container {
                width: 528px;
                margin-top: auto;
                margin-bottom: auto;
                .spin-button {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 507px;
                    top: 50%;
                    .spin-button-white-outline {
                        width: 97px;
                        height: 97px;
                        background: #f4f4f4 0% 0% no-repeat padding-box;
                        box-shadow: 0px 12px 20px #c48a00b2;
                        opacity: 1;
                        border-radius: 50%;
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .spin-button-inner-orange {
                            width: 77px;
                            height: 77px;
                            background: transparent
                                linear-gradient(
                                    180deg,
                                    #fdc43d 0%,
                                    #ff9300 100%
                                )
                                0% 0% no-repeat padding-box;
                            opacity: 1;
                            border-radius: 50%;
                            display: inherit;
                            align-items: inherit;
                            justify-content: inherit;
                            cursor: pointer;
                            .spin-button-white-shine {
                                width: 66px;
                                height: 66px;
                                background: transparent
                                    radial-gradient(
                                        closest-side at 50% 0%,
                                        #ffffff72 0%,
                                        #ffffff00 100%
                                    )
                                    0% 0% no-repeat padding-box;
                                opacity: 1;
                                border-radius: 50%;
                                font-size: $fnt-sz-16;
                                font-weight: bold;
                                display: inherit;
                                align-items: inherit;
                                justify-content: inherit;
                                color: #ffffff;
                            }
                        }
                    }
                }
                .pointer-img-wrapper {
                    width: 507px;
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    top: 30%;
                    .pointer-img {
                        width: clamp(1rem, 2vw, 1.7rem);
                    }
                }
            }
        }
    }
    .spinner-rules {
        .title {
            font-size: 0.75rem;
            @media only screen and (min-width: 768px) {
                font-size: 0.875rem;
            }

            color: white;
        }
        .probability {
            ul {
                font-size: 0.75rem;
                @media only screen and (min-width: 768px) {
                    font-size: 0.875rem;
                }
                li {
                    .wrapper {
                        color: white;
                        line-height: 2;
                        p {
                            margin-bottom: 0.6rem;
                            @media only screen and (min-width: 768px) {
                                margin-bottom: 1rem;
                            }
                            @media only screen and (min-width: 1441px) {
                                margin-bottom: 1.25rem;
                            }
                            &:nth-child(1) {
                            }
                        }
                    }
                }
            }
        }

        .separator {
            height: 1px;
            width: 100%;
            background-color: white;
        }
    }
}
