// FORTUNE WHEEL COMPONENT
.fortune-wheel {
    position: fixed;
    width: 100vw;
    top: 90px;
    @include media-min($lg) {
        top: 80px;
    }
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 3;
    .wrapper {
        background: linear-gradient(145deg, #1c1c1c 0%, #0b0b0b 100%);
        border-radius: 10px;
        .wrapper-col {
            .the-spinner-text {
                font-size: $fnt-sz-10;
                @include media-min($xl) {
                    font-size: $fnt-sz-12;
                }
                color: #00c1b9;
            }
            .earn-more-tickets-text {
                font-size: $fnt-sz-14;
                @include media-min($xl) {
                    font-size: $fnt-sz-18;
                }
                font-weight: $fnt-wgt-700;
            }
            .spin-amount-left-wrapper {
                .spins-left-text,
                .you-have-text {
                    font-size: $fnt-sz-12;
                }
                .spin-number {
                    font-size: $fnt-sz-18;
                    font-weight: bold;
                    color: #fdc43d;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
            .text-icon-wrapper {
                img {
                    width: 0.875rem;
                    @include media-min($xl) {
                        width: 1.25rem;
                    }
                }
            }
            table.probability-table {
                width: 14.063rem;
                tr:first-child td:first-child {
                    border-top-left-radius: 10px;
                }
                tr:first-child td:last-child {
                    border-top-right-radius: 10px;
                }
                tr:last-child td:first-child {
                    border-bottom-left-radius: 10px;
                }
                tr:last-child td:last-child {
                    border-bottom-right-radius: 10px;
                }

                tr.probability-row {
                    display: flex;
                    text-align: center;
                    td.probability-percentage {
                        font-size: $fnt-sz-12;
                        font-weight: $fnt-wgt-600;
                        width: 93.75px;
                        border: 1px solid #383838;
                        line-height: 30px;
                    }
                    td.probability-tickets-text {
                        font-size: $fnt-sz-12;
                        width: 131.25px;
                        border: 1px solid #383838;
                        line-height: 30px;
                    }
                }

                td:hover {
                    background-color: #4573f1;
                }
            }
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                display: flex;
            }
            &:nth-child(1) {
                @include media-max($lg) {
                    background-color: #2b2b2b;
                }
                .tap-btn {
                    display: none;
                }
            }
            &:nth-child(2) {
                @include media-min($lg) {
                    background: linear-gradient(
                        155deg,
                        #212121 0%,
                        #0b0b0b 100%
                    );
                }
                .your-tickets {
                    box-shadow: 0px 15px 20px #00000029;
                    border: 1px solid #fdc43d;
                    border-radius: 10px;
                    min-width: 15.313rem;
                    max-width: 70%;
                    height: 3.75rem;
                    .your-tickets-text {
                        font-size: $fnt-sz-10;
                        color: #868686;
                    }
                    .ticket-number {
                        font-size: $fnt-sz-18;
                        font-weight: $fnt-wgt-600;
                        color: #fdc43d;
                    }
                }

                // .use-gems-button {
                //     cursor: pointer;
                //     width: 226px;
                //     height: 54px;
                //     background: transparent
                //         linear-gradient(180deg, #04e4aa 0%, #01b789 100%) 0% 0%
                //         no-repeat padding-box;
                //     border-radius: 10px;
                //     opacity: 1;
                //     margin-top: 20px;
                //     display: flex;
                //     align-items: center;
                //     flex-direction: column;
                //     .use-gems-text {
                //         font-size: $fnt-sz-14;
                //         font-weight: bold;
                //         margin-top: 9px;
                //         margin-bottom: 1px;
                //     }
                //     .get-spins-text {
                //         font-size: $fnt-sz-10;
                //     }
                // }
                // .purchase-gems-button {
                //     cursor: pointer;
                //     width: 226px;
                //     height: 54px;
                //     background: #ff2c44 0% 0% no-repeat padding-box;
                //     border-radius: 10px;
                //     opacity: 1;
                //     margin-top: 20px;
                //     display: flex;
                //     align-items: center;
                //     flex-direction: column;
                //     .insufficient-gems-text {
                //         font-size: $fnt-sz-14;
                //         font-weight: bold;
                //         margin-top: 9px;
                //         margin-bottom: 1px;
                //     }
                //     .purchase-text {
                //         font-size: $fnt-sz-10;
                //     }
                // }
            }
        }
        .fortune-wheel-svg-wrapper {
            width: 95%;
            @include media-min($sm) {
                width: 75%;
            }
            @include media-min($md) {
                width: 55%;
            }
            @include media-min($xl) {
                width: 25rem;
                height: 25rem;
            }
            @include media-min($xxl) {
                width: 28.063rem;
                height: 28.063rem;
            }
            .spin-button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: 4px solid white;
                @include media-min($xs) {
                    border: 5px solid white;
                }
                @include media-min($xl) {
                    border: 7px solid white;
                }
                @include media-min($xxl) {
                    border: 10px solid white;
                }
                border-radius: 100%;
                cursor: pointer;
                .spin-button-inner-orange {
                    font-size: $fnt-sz-12;
                    width: 3rem;
                    height: 3rem;
                    @include media-min($xs) {
                        width: 4rem;
                        height: 4rem;
                    }
                    @include media-min($xxl) {
                        width: 4.813rem;
                        height: 4.813rem;
                        font-size: $fnt-sz-16;
                    }
                    background: linear-gradient(
                        180deg,
                        #fdc43d 0%,
                        #ff9300 100%
                    );
                    border-radius: 100%;
                    font-weight: $fnt-wgt-700;
                    color: white;
                }
            }
            .pointer-img {
                position: absolute;
                top: 23%;
                left: 48%;
                width: clamp(1rem, 2vw, 1.7rem);
            }
        }
        .buy-more-spins,
        .buy-more-gems {
            background: linear-gradient(180deg, #04e4aa 0%, #01b789 100%);
            width: 100%;
            min-height: 60px;
            box-shadow: 0px 10px 15px #005a305f;
            border-radius: 10px;
            font-size: 12px;
            color: white;
            font-size: 10px;
            @include media-min($xxs) {
                font-size: 12px;
            }
            @include media-min($md) {
                font-size: 20px;
            }
        }
        .buy-more-gems {
            background: #ff2c44;
            color: white !important;
            span {
                font-size: 12px;
            }
        }
        .buy-more-spins {
            font-size: 0.9rem;
            @include media-min($xxs) {
                font-size: 1rem;
            }
            @include media-min($md) {
                font-size: 1.25rem;
            }
        }
    }
}
.spinner-rules {
    .title {
        font-size: 0.75rem;
        @include media-min($md) {
            font-size: 0.875rem;
        }
        color: white;
    }
    .probability {
        ul {
            font-size: 0.75rem;
            @include media-min($md) {
                font-size: 0.875rem;
            }
            li {
                .wrapper {
                    color: white;
                    line-height: 2;
                    p {
                        margin-bottom: 0.6rem;
                        @include media-min($md) {
                            margin-bottom: 1rem;
                        }
                        @include media-min($xxl) {
                            margin-bottom: 1.25rem;
                        }
                        &:nth-child(1) {
                        }
                    }
                }
            }
        }
    }

    .separator {
        height: 1px;
        width: 100%;
        background-color: white;
    }
}
