// FORTUNE WHEEL COMPONENT
.fortune-wheel {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    .wrapper {
        border-radius: 10px;
        background-color: #2b2b2b;

        .wrapper-col {
            .the-spinner-text {
                font-size: $fnt-sz-10;

                @include media-min($xl) {
                    font-size: $fnt-sz-12;
                }

                color: #00c1b9;
            }

            .earn-more-tickets-text {
                font-size: $fnt-sz-14;

                @include media-min($xl) {
                    font-size: $fnt-sz-18;
                }

                font-weight: $fnt-wgt-700;
            }

            .spin-amount-left-wrapper {

                .spins-left-text,
                .you-have-text {
                    font-size: $fnt-sz-12;
                    vertical-align: 3px;
                }

                .spin-number {
                    font-size: $fnt-sz-18;
                    font-weight: bold;
                    color: #fdc43d;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }

            .text-icon-wrapper {
                .close-button {
                    cursor: pointer;
                    right: -10px;
                    width: 30px;
                    height: 30px;
                    @include media-min($md) {
                        width: 36px;
                        height: 36px;
                    }
                }

                // img {
                //     width: 1.5rem;

                //     @include media-min($xl) {
                //         width: 2rem;
                //     }
                // }
            }

            .your-balance {
                box-shadow: 0px 15px 20px #00000029;
                border: 1px solid #fdc43d;
                border-radius: 10px;
                min-width: 5rem;
                max-width: 70%;
                width: 15rem;
                height: 3.75rem;
    
                .spin-number {
                    font-size: $fnt-sz-20;
                    font-weight: $fnt-wgt-600;
                    color: #00c1b9;

                    @include media-min($xs) {
                        font-size: $fnt-sz-24;
                    }
                }
    
                .balance-number {
                    font-size: $fnt-sz-16;
                    font-weight: $fnt-wgt-600;
                    color: #fdc43d;

                    @include media-min($xs) {
                        font-size: $fnt-sz-18;
                    }
                }
    
                .your-balance-text {
                    font-size: $fnt-sz-10;
                    color: #868686;
                    @include media-min($xs) {
                        font-size: $fnt-sz-12;
                    }
                }
    
                img {
                    width: 18px;
                    margin-right: 8px;
                    @include media-min($xs) {
                        width: 24px;
                    }
                }
            }

            .probability-btn {
                width: 100%;
                margin-top: 1rem;
                margin-left: 3rem;
                
                @include media-min($xs) {
                    font-size: $fnt-sz-12;
                }

                img {
                    cursor: pointer;
                    display: block;
                    width: 30px;
                    height: auto;
                    padding-right: 10px;

                    @include media-min($xs) {
                        width: 40px;
                    }
                }

                button {
                    display: flex;
                    span {
                        font-size: $fnt-sz-10;
                        font-weight: bold;
                        color: #fdc43d;
                    }
                }
            }

            .fortune-wheel-content {
                display: block;
                width: 100%;
                height: 100%;
                min-height: 400px;
                margin-top: 10px;

                table.probability-table {
                    tr:first-child td:first-child {
                        border-top-left-radius: 10px;
                    }
    
                    tr:first-child td:last-child {
                        border-top-right-radius: 10px;
                    }
    
                    tr:last-child td:first-child {
                        border-bottom-left-radius: 10px;
                    }
    
                    tr:last-child td:last-child {
                        border-bottom-right-radius: 10px;
                    }
    
                    tr.probability-row {
                        display: flex;
                        text-align: center;
    
                        td.probability-percentage-caption {
                            font-size: $fnt-sz-12;
                            font-weight: bold;
                            width: 70px;
                            border: 1px solid #383838;
                            line-height: 30px;
                            color: aqua;
                            @include media-min($xs) {
                                font-size: $fnt-sz-14;
                                width: 90px;
                            }
                        }
    
                        td.probability-tickets-text-caption {
                            font-size: $fnt-sz-12;
                            font-weight: bold;
                            width: 100px;
                            border: 1px solid #383838;
                            line-height: 30px;
                            color: aqua;
                            @include media-min($xs) {
                                font-size: $fnt-sz-14;
                                width: 130px;
                            }
                        }
    
                        td.probability-percentage {
                            font-size: $fnt-sz-12;
                            font-weight: $fnt-wgt-600;
                            width: 70px;
                            border: 1px solid #383838;
                            line-height: 30px;
                            @include media-min($xs) {
                                font-size: $fnt-sz-14;
                                width: 90px;
                            }
                        }
    
                        td.probability-tickets-text {
                            font-size: $fnt-sz-12;
                            width: 100px;
                            border: 1px solid #383838;
                            line-height: 30px;
                            @include media-min($xs) {
                                font-size: $fnt-sz-14;
                                width: 130px;
                            }
                        }
                    }
    
                    .icon {
                        width: 18px;
                        @include media-min($lg) {
                            width: 24px;
                        }
                    }
                }
            }
            

            // &:nth-child(1),
            // &:nth-child(2),
            // &:nth-child(3) {
            //     display: flex;
            // }

            &:nth-child(1) {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;

                // background-color: #2b2b2b;

                .tap-btn {
                    display: none;
                }
            }

            &:nth-child(2) {
                background: linear-gradient(155deg,
                        #212121 17%,
                        #0b0b0b 110%);
                
                // .your-tickets {
                //     box-shadow: 0px 15px 20px #00000029;
                //     border: 1px solid #fdc43d;
                //     border-radius: 10px;
                //     min-width: 15.313rem;
                //     max-width: 70%;
                //     height: 3.75rem;

                //     .your-tickets-text {
                //         font-size: $fnt-sz-10;
                //         color: #868686;
                //     }

                //     .ticket-number {
                //         font-size: $fnt-sz-18;
                //         font-weight: $fnt-wgt-600;
                //         color: #fdc43d;
                //     }
                // }

                // .use-gems-button {
                //     cursor: pointer;
                //     width: 226px;
                //     height: 54px;
                //     background: transparent
                //         linear-gradient(180deg, #04e4aa 0%, #01b789 100%) 0% 0%
                //         no-repeat padding-box;
                //     border-radius: 10px;
                //     opacity: 1;
                //     margin-top: 20px;
                //     display: flex;
                //     align-items: center;
                //     flex-direction: column;
                //     .use-gems-text {
                //         font-size: $fnt-sz-14;
                //         font-weight: bold;
                //         margin-top: 9px;
                //         margin-bottom: 1px;
                //     }
                //     .get-spins-text {
                //         font-size: $fnt-sz-10;
                //     }
                // }
                // .purchase-gems-button {
                //     cursor: pointer;
                //     width: 226px;
                //     height: 54px;
                //     background: #ff2c44 0% 0% no-repeat padding-box;
                //     border-radius: 10px;
                //     opacity: 1;
                //     margin-top: 20px;
                //     display: flex;
                //     align-items: center;
                //     flex-direction: column;
                //     .insufficient-gems-text {
                //         font-size: $fnt-sz-14;
                //         font-weight: bold;
                //         margin-top: 9px;
                //         margin-bottom: 1px;
                //     }
                //     .purchase-text {
                //         font-size: $fnt-sz-10;
                //     }
                // }
            }
        }

        .fortune-wheel-wrapper {
            display: block;
            width: 100%;

            .fortune-wheel-holder {
                aspect-ratio: 1;
                max-width: 400px;
                max-height: 400px;
                display: flex;
                margin: auto;
                position: relative;
                border-radius: 100%;
                background-color: #ededed;
            }

            canvas {
                width: 100%;
                background: transparent;
                display: block;
            }

            .inner-circle {
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(50%,-50%);
                width: 38%;
                height: 38%;
                border-radius: 100%;
                background-color: white;
            }

            .spin-button {
                display: flex;
                text-align: center;
                justify-content: center;
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(50%,-50%);
                width: 30%;
                height: 30%;
                border: 3px solid #F4F4F4;
                border-radius: 100%;
                background: linear-gradient(180deg,
                        #fdc43d 0%,
                        #ff9300 100%);
                cursor: pointer;

                @include media-min($xs) {
                    border: 5px solid #F4F4F4;
                }

                button {
                    width: 100%;
                    color: white;
                    font-weight: $fnt-wgt-700;
                    font-size: $fnt-sz-10;

                    @include media-min($xs) {
                        font-size: $fnt-sz-16;
                    }
                }
                
                .spins-left-text {
                    font-size: $fnt-sz-16;
                    font-weight: bold;
                    color: aqua;
                    -webkit-text-stroke-width: 0.5px;
                    -webkit-text-stroke-color: #eea908;

                    @include media-min($xs) {
                        font-size: $fnt-sz-30;
                    }
                }
            }

            .pointer-img {
                position: absolute;
                top: 24.5%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 1.5rem;
                height: 1.5rem;

                @include media-min($xs) {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }

        .buy-more-spins,
        .buy-more-gems {
            background: linear-gradient(180deg, #04e4aa 0%, #01b789 100%);
            width: 100%;
            min-height: 60px;
            box-shadow: 0px 10px 15px #005a305f;
            border-radius: 10px;
            font-size: 12px;
            color: white;
            font-size: 10px;

            @include media-min($xxs) {
                font-size: 12px;
            }

            @include media-min($md) {
                font-size: 20px;
            }
        }

        .buy-more-gems {
            background: #ff2c44;
            color: white !important;

            span {
                font-size: 12px;
            }
        }

        .buy-more-spins {
            font-size: 0.9rem;

            @include media-min($xxs) {
                font-size: 1rem;
            }

            @include media-min($md) {
                font-size: 1.25rem;
            }
        }
    }
}

.spinner-rules-text
{
    font-family: "Open Sans",sans-serif;
    @include media-min($xs) {
        font-size: 1rem;           
    }
    
    @include media-min($xl) {
        font-size: 1.5rem;
    }
    
    @include media-min($xxl) {
        font-size: 2rem;
    }
}
.spinner-rules {
    .title {
        font-size: 0.75rem;

        @include media-min($md) {
            font-size: 0.875rem;
        }

        color: white;
    }

    .probability {
        ul {
            font-size: 0.75rem;

            @include media-min($md) {
                font-size: 0.875rem;
            }

            li {
                .wrapper {
                    color: white;
                    line-height: 2;

                    p {
                        margin-bottom: 0.6rem;

                        @include media-min($md) {
                            margin-bottom: 1rem;
                        }

                        @include media-min($xxl) {
                            margin-bottom: 1.25rem;
                        }

                    }
                }
            }
        }
    }

    .separator {
        height: 1px;
        width: 100%;
        background-color: white;
    }
}
