#landing {
    @include media-min($md) {
        padding-top: 60px;
    }
    #login {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 2;
        .overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                180deg,
                #00000000 37%,
                #00000073 60%,
                #000000 100%
            );
        }
        .wrapper {
            position: relative;
            z-index: 1;
            min-height: 4rem;
            background: linear-gradient(121deg, #302f2f 0%, #0b0b0b 100%);
            .welcome-text {
                font-size: $fnt-sz-20;
                font-weight: $fnt-wgt-700;
                text-transform: uppercase;
            }
            .subtitle {
                color: #868686;
                font-size: $fnt-sz-14;
            }
            form {
                width: clamp(22rem, 25vw, 25rem);
                margin: 0 auto;
                .email,
                .password {
                    background: #1f1e1e;
                    box-shadow: inset 0px 3px 6px #0000000f;
                    border: 1px solid #242424;
                    border-radius: 5px;
                    height: 3.25rem;
                    color: #868686;
                    font-size: $fnt-sz-14;
                }
                .error {
                    font-weight: $fnt-wgt-600;
                    font-size: $fnt-sz-12;
                }
                .submit {
                    background: #ff3399;
                    box-shadow: inset 0px 3px 6px #0000000f;
                    border-radius: 5px;
                    font-size: $fnt-sz-14;
                    font-weight: $fnt-wgt-600;
                    color: white;
                    height: 3.25rem;
                    width: clamp(19rem, 21vw, 21rem);
                    margin: 0 auto;
                }
                .forgot-password {
                    color: #868686;
                    font-size: $fnt-sz-12;
                }
            }
        }
    }
    #registration {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        @supports not (
            (-webkit-backdrop-filter: none) or (backdrop-filter: none)
        ) {
            background-color: rgba(138, 138, 138, 0.3);
        }
        @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
        }
        .close-button {
            @include media-max($md) {
                right: 0.3rem;
            }
        }
        .main-wrapper {
            background: linear-gradient(136deg, #302f2f 0%, #0b0b0b 100%);
            box-shadow: 0px 5px 10px #00000029;
            border-radius: 10px;
            .top {
                .title {
                    font-size: $fnt-sz-18;
                    font-weight: $fnt-wgt-700;
                }
                .subtitle {
                    font-size: $fnt-sz-14;
                    color: #868686;
                }
            }
            .center {
                background: linear-gradient(131deg, #302f2f 0%, #212121 100%);
                box-shadow: 0px 5px 10px #00000029;
                border-radius: 5px;
                padding: 0.6rem;
                @include media-min($md) {
                    min-height: 9.3rem;
                }
                .number {
                    border: 1px solid #707070;
                    border-radius: 100%;
                    width: 32px;
                    height: 32px;
                    font-size: $fnt-sz-14;
                    font-weight: $fnt-wgt-600;
                }
                .title {
                    font-size: $fnt-sz-12;
                    font-weight: $fnt-wgt-700;
                    line-height: 1.5;
                    margin-bottom: 0.6rem;
                    @include media-min($md) {
                        width: 17ch;
                    }
                }
                .description {
                    font-size: $fnt-sz-10;
                    color: #868686;
                    margin-bottom: 0;
                    line-height: 1.3;
                    @include media-min($md) {
                        width: 25ch;
                    }
                    span {
                        font-weight: $fnt-wgt-700;
                    }
                }
            }
            .bottom {
                p {
                    font-size: $fnt-sz-12;
                    span {
                        color: #f53297;
                        font-weight: $fnt-wgt-700;
                    }
                }
            }
        }
    }
    #hero {
        min-height: 80vh;
        @include media-min($md) {
            min-height: 90vh;
        }
        .main-wrapper {
            @include media-max($md) {
                background: linear-gradient(
                    -45deg,
                    #ee7752,
                    #e73c7e,
                    #23a6d5,
                    #23d5ab
                );
                background-size: 400% 400%;
                animation: gradient 15s ease infinite;
            }
            .content-wrapper {
                @include media-max($md) {
                    position: relative;
                    z-index: 1;
                    &::after {
                        content: "";
                        position: absolute;
                        height: 100%;
                        bottom: 0;
                        left: 0;
                        z-index: -1;
                    }
                    &::after {
                        width: 100%;
                        background: linear-gradient(
                            180deg,
                            #1c1c1c00 0%,
                            #101010 60%
                        );
                    }
                }
                .intro-text {
                    font-size: $fnt-sz-10;
                }
                .title-text {
                    text-transform: uppercase;
                    font-weight: $fnt-wgt-700;
                    font-size: $fnt-sz-24;
                    line-height: 1.5;
                    width: 20ch;
                    @include media-min($md) {
                        font-size: $fnt-sz-30;
                    }
                    background: linear-gradient(
                        -45deg,
                        #ee7752,
                        #e73c7e,
                        #23a6d5,
                        #23d5ab
                    );
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-size: 400% 400%;
                    animation: gradient 15s ease infinite;
                }
                .subtitle-text {
                    width: 50ch;
                    font-size: $fnt-sz-12;
                    line-height: 1.7;
                }
                .button-wrapper {
                    width: 100%;
                    @include media-min($md) {
                        width: 75%;
                    }
                    button {
                        border-radius: 10px;
                        font-size: $fnt-sz-14;
                        font-weight: $fnt-wgt-600;
                    }
                    .register-now-button {
                        background: #f20086;
                        color: #ffffff;
                    }
                    .login-button {
                        border: 1px solid #f20086;
                        color: #ff027d;
                    }
                }
            }
            .carousel-wrapper {
                @include media-max($md) {
                    position: relative;
                    top: 4rem;
                    left: 0;
                    z-index: -1;
                }
                #hero-carousel {
                    width: 100%;
                    @include media-min($md) {
                        min-height: 70vh;
                        margin-right: 0;
                        width: 90%;
                        border-radius: 17px;
                        background: linear-gradient(
                            -45deg,
                            #ee7752,
                            #e73c7e,
                            #23a6d5,
                            #23d5ab
                        );
                        background-size: 400% 400%;
                        animation: gradient 15s ease infinite;
                    }
                    @include media-max($md) {
                        &::before {
                            content: "";
                            position: absolute;
                            height: 100%;
                            bottom: 0;
                            left: 0;
                            z-index: 2;
                        }
                        &::before {
                            width: 30%;
                            backdrop-filter: blur(2px);
                        }
                    }
                    .swiper-slide {
                        img {
                            @include media-max($sm) {
                                position: relative;
                                left: 2rem;
                            }
                            width: 340px;
                            @include media-min($md) {
                                width: 360px;
                            }
                            border-radius: 17px;
                        }
                    }
                }
            }
            @keyframes gradient {
                0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0% 50%;
                }
            }
        }
    }
    #how-it-works {
        .main-wrapper {
            .title,
            .subtitle {
                opacity: 0;
                visibility: hidden;
                transform: translateY(30px);
            }
            .title {
                font-weight: $fnt-wgt-700;
                font-size: $fnt-sz-18;
            }
            .subtitle {
                font-size: $fnt-sz-12;
                @include media-min($md) {
                    font-size: $fnt-sz-14;
                }
            }
            .work-card {
                opacity: 0;
                visibility: hidden;
                transform: translateY(40px);
                text-align: center;
                .card-wrapper {
                    min-height: auto;
                    @include media-min($md) {
                        min-height: 21rem;
                    }
                    @include media-min($lg) {
                        min-height: 23.5rem;
                    }
                    border-radius: 10px;
                    background: linear-gradient(
                        180deg,
                        #0f0f0f 0%,
                        #191919 100%
                    );
                    .step-text {
                        font-size: $fnt-sz-12;
                        color: #6a6a6a;
                        @include media-min($md) {
                            color: white;
                            font-size: $fnt-sz-10;
                        }
                    }
                    .title {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                        font-weight: $fnt-wgt-700;
                        font-size: $fnt-sz-16;
                        @include media-min($md) {
                            font-size: $fnt-sz-14;
                        }
                    }
                    .description {
                        line-height: 1.5;
                        font-size: $fnt-sz-12;
                    }
                    .step-1-img,
                    .step-2-img,
                    .step-3-img {
                        img {
                            width: 100%;
                            height: 200px;
                            @include media-min($md) {
                                height: 250px;
                            }
                            @include media-min($xxl) {
                                height: 256px;
                            }
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
    #daily-reward {
        position: relative;
        margin: 3.5rem 0;
        .title,
        .subtitle,
        .content-wrapper {
            opacity: 0;
            visibility: hidden;
            transform: translateY(30px);
        }
        .title {
            font-weight: $fnt-wgt-700;
            font-size: $fnt-sz-18;
            text-transform: uppercase;
        }
        .subtitle {
            font-size: $fnt-sz-12;
            @include media-min($md) {
                font-size: $fnt-sz-14;
            }
        }
        .content-wrapper {
            background: linear-gradient(137deg, #302f2f 0%, #0b0b0b 100%);
            min-height: 17.25rem;
            border-radius: 12px;
            .title-text {
                font-size: $fnt-sz-18;
                font-weight: $fnt-wgt-700;
            }
            .subtitle-text {
                line-height: 1.8;
                font-size: $fnt-sz-12;
                width: 40ch;
            }
        }
        .left-img {
            position: absolute;
            left: 0%;
            top: 0;
            transform: translate(0%, 0%);
            z-index: 0;
            width: 8rem;
            @include media-min($md) {
                transform: translate(0%, -50%);
                top: 50%;
                width: 13rem;
            }
            @include media-min($lg) {
                width: 14rem;
            }
            @include media-min($xxl) {
                width: 20rem;
            }
        }
        .right-img {
            position: absolute;
            z-index: 0;
            right: 0%;
            bottom: 0;
            transform: translate(0%, 0%);
            width: 7rem;
            @include media-min($md) {
                transform: translate(0%, -50%) rotate(10deg);
                top: 50%;
                width: 9rem;
            }
            @include media-min($lg) {
                width: 9.5rem;
            }
            @include media-min($xxl) {
                width: 11.792rem;
            }
        }
        h2,
        p,
        a {
            position: relative;
            z-index: 1;
        }
        .register-now-button {
            background: #cc0767;
            box-shadow: inset 0px 3px 6px #0000000f;
            color: #ffffff;
            border-radius: 10px;
            font-size: $fnt-sz-14;
            width: 247px;
            height: 46px;
            font-weight: $fnt-wgt-400;
            margin: 0 auto;
        }
    }
}
