// YOUR TEAM COMPONENT
#your-team {
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background-color: rgba(244, 244, 244, 0.9);
    }
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }
    .invitation-modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .team-wrapper {
            background: linear-gradient(135deg, #302f2f 0%, #0b0b0b 100%);
            box-shadow: 0px 18px 26px #00000029;
            border-radius: 20px;
            padding: 0 25px;
            .close-button {
                top: -8px;
                right: -8px;
                width: 30px;
                height: 30px;
                @include media-min($md) {
                    width: 36px;
                    height: 36px;
                }
            }
            .copied {
                font-size: 10px;
                color: #0cbe90;
            }
            .main-title {
                margin-top: 4.5em;
                .title {
                    font-weight: $fnt-wgt-700;
                    font-size: $fnt-sz-14;
                    @include media-min($md) {
                        font-size: $fnt-sz-18;
                    }
                }
                .subtitle {
                    line-height: 1.5;
                    color: #868686;
                    font-size: $fnt-sz-10;
                    @include media-min($md) {
                        font-size: $fnt-sz-14;
                    }
                }
            }
            .invite {
                border: 6px solid #f7f7f7;
                background: #ffffff;
                border-radius: 10px;
                cursor: pointer;
                box-shadow: 0px 5px 10px #00000014;
                .invite-label {
                    font-size: $fnt-sz-8;
                    @include media-min($md) {
                        font-size: $fnt-sz-10;
                    }
                    color: #868686;
                }
                .invite-link {
                    font-size: $fnt-sz-12;
                    @include media-min($md) {
                        font-size: $fnt-sz-18;
                    }
                    font-weight: $fnt-wgt-700;
                    overflow-wrap: anywhere;
                    color: #d7076b;
                }
            }
            .invitation-footer {
                .terms-conditions {
                    font-size: $fnt-sz-8;
                    @include media-min($md) {
                        font-size: $fnt-sz-10;
                    }
                    color: #868686;
                }
            }
        }
    }
}
