// SELECTED PLAYER INFO COMPONENT
#selected-player-info {
    position: relative;
    margin-top: 180px;
    .profile-info {
        img {
            border-radius: 100%;
            width: 9.375rem;
            height: 9.375rem;
            object-fit: contain;
            border: 5px solid #2a2a2a;
        }
        h2 {
            font-size: $fnt-sz-18;
            font-weight: $fnt-wgt-600;
            text-transform: capitalize;
        }
        p {
            font-size: $fnt-sz-14;
            color: #868686;
        }
    }
    .multiplier {
        background: linear-gradient(120deg, #302f2f 0%, #0b0b0b 100%);
        border-radius: 10px;
        position: relative;
        min-height: 10rem;
        .multiplier-info {
            font-size: $fnt-sz-16;
            span {
                color: #00c1b9;
            }
        }
        .level {
            .current-level {
                font-size: $fnt-sz-14;
            }
            .exp {
                font-size: $fnt-sz-14;
                background: linear-gradient(120deg, #302f2f 0%, #0b0b0b 100%);
                color: #868686;
                border-radius: 17px;
                min-width: 6.5rem;
                min-height: 2.25rem;
                padding: 0.1rem 1.1rem;
                .player-exp {
                    font-weight: $fnt-wgt-700;
                }
            }
        }
        .progress {
            margin-top: 1rem;
            width: 100%;
            height: 2rem;
            border-radius: 2.313rem;
            background-color: #f4f4f4;
            position: relative;
            .progress-bar {
                background: linear-gradient(266deg, #00c1b9 0%, #047c98 100%);
                border-radius: 2.313rem;
                height: inherit;
            }
        }
    }
    .high-score {
        .title {
            font-size: $fnt-sz-18;
            font-weight: $fnt-wgt-600;
        }
        .highscore-card {
            border-radius: 12px;
            min-height: 4.5em;
            font-size: 0.75rem;
            .game-details {
                min-height: inherit;
            }
            p {
                margin-bottom: 0;
            }
            img {
                border: 2px solid white;
                border-radius: 7px;
                width: 4.75rem;
                @media only screen and (min-width: 991px) {
                    width: 100%;
                }
                @media only screen and (min-width: 1200px) {
                    width: 4.75rem;
                }
            }
            .game-title {
                font-size: $fnt-sz-14;
            }
            .score {
                font-size: $fnt-sz-14;
                color: #14daa7;
                display: flex;
                align-self: flex-start;
                justify-content: flex-end;
            }
            .score-date {
                font-size: $fnt-sz-10;
                color: #868686;
            }
        }
    }
}
