#home {
    padding-bottom: 6rem;

    .bonus {
        background: linear-gradient(90deg, #5c0d39, #1e1120);
    }

    .section-title {
        left: 0;
        font-size: $fnt-sz-18;
        font-weight: $fnt-wgt-700;
    }

    .spinner {
        position: relative;
        cursor: pointer;
        background: linear-gradient(90deg, #844770, #692049);
        border-radius: 10px;
        .the-spinner-text {
            color: #f7b621;
            font-size: $fnt-sz-20;
            @include media-min($sm) {
                font-size: $fnt-sz-30;
            }
            font-weight: $fnt-wgt-600;
            line-height: 1.5;
        }
        .earn-more-tickets-text {
            font-size: $fnt-sz-14;
            @include media-min($sm) {
                font-size: $fnt-sz-12;
            }
        }
        .earn-more-tickets-img {
            object-fit: cover;
            height: 5.5rem;
            border-radius: 7px;
            @include media-min($sm) {
                border-radius: 17px;
                height: 7rem;
            }
        }
        .earn-more-tickets-img-wrapper {
            right: -10px;
            position: absolute;
            @include media-min($sm) {
                right: unset;
                position: relative;
            }
        }

        &:hover {
            .card-wrapper {
                border-left: solid 2px #ff3399;
                border-top: solid 2px #ff3399;
                border-right: solid 2px #ff3399;
            }
            .timer {
                border-left: solid 2px #ff3399;
                border-bottom: solid 2px #ff3399;
                border-right: solid 2px #ff3399;
            }
        }
        .card-wrapper {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-left: solid 2px transparent;
            border-top: solid 2px transparent;
            border-right: solid 2px transparent;
        }
        .timer {
            background: #151116;
            box-shadow: inset 0px 3px 6px #0000000f;
            border-radius: 0px 0px 10px 10px;
            border-left: solid 2px transparent;
            border-bottom: solid 2px transparent;
            border-right: solid 2px transparent;
            min-height: 2.5rem;
            @include media-min($md) {
                min-height: 3.5rem;
            }
            .timer-text {
                font-size: $fnt-sz-14;
                font-weight: $fnt-wgt-700;
            }
            .countdown {
                color: #00c1b9;
                font-size: $fnt-sz-12;
                @include media-min($md) {
                    font-size: $fnt-sz-14;
                }
                font-weight: $fnt-wgt-700;
            }
        }
    }
}

// WINNER ANNOUNCEMENT MODAL COMPONENT
.winner-announcement {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background-color: rgba(244, 244, 244, 0.9);
    }
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }
    .swiper {
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .prize {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin: 0 auto;
            min-height: 16.375rem;
            width: 95%;
            @include media-min($sm) {
                width: 23.375rem;
            }
            border-radius: 30px;
            .picture-wrapper {
                position: relative;
                z-index: 0;
                .thumb-media {
                    display: block;
                    position: relative;
                    top: 1rem;
                    max-width: 100%;
                    width: 90%;
                    min-height: 14rem;
                    @include media-min($md) {
                        min-height: 19.438rem;
                    }
                    object-fit: cover;
                    border-radius: 30px 30px 0 0;
                    margin-bottom: 1rem;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .winner-wrapper {
                position: relative;
                z-index: 1;
                top: -1.5rem;
                background: linear-gradient(144deg, #302f2f 0%, #0b0b0b 100%);
                box-shadow: 0px 3px 6px #00000029;
                border-radius: 10px;
                .winner-pic {
                    position: absolute;
                    top: -7px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border: 7px solid #282828;
                    background-color: #282828;
                    border-radius: 100%;
                    width: 6.438rem;
                    height: 6.438rem;
                    object-fit: contain;
                }
                .winner-name {
                    font-size: $fnt-sz-14;
                    font-weight: $fnt-wgt-600;
                    color: #f8ba29;
                    background: #1d1d1d 0% 0%;
                    box-shadow: inset 0px 3px 6px #0000000f;
                    border-radius: 5px;
                    margin-top: 2.4rem;
                }
                .won-text,
                .nft-token,
                .not-minted {
                    font-size: $fnt-sz-12;
                    color: #868686;
                }
                .not-minted,
                .mint-date {
                    font-size: $fnt-sz-10;
                }
                .prize-name {
                    text-align: center;
                    font-size: $fnt-sz-18;
                    font-weight: $fnt-wgt-700;
                }
                .transfer-nft-text {
                    width: 40ch;
                    color: #868686;
                    font-size: $fnt-sz-10;
                    span {
                        font-weight: $fnt-wgt-600;
                    }
                }
                button {
                    border-radius: 7px;
                    padding: 1em;
                    width: 90%;
                    margin-bottom: 1em;
                }
                .connect-wallet-btn {
                    font-size: $fnt-sz-14;
                    font-weight: $fnt-wgt-600;
                    background: #cc0767;
                    color: white;
                    box-shadow: inset 0px 3px 6px #0000000f;
                    border-radius: 10px;
                }
            }
        }
        .pagination {
            position: relative;
            background: linear-gradient(111deg, #302f2f 0%, #0b0b0b 100%);
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 10px;
            width: 95%;
            @include media-min($sm) {
                max-width: 50%;
                width: 23.375rem;
            }
            .prev,
            .next {
                cursor: pointer;
            }
            .next {
                transform: rotate(-180deg);
            }
            .custom-pagination {
                // width: auto !important;
                .swiper-pagination-bullet {
                    width: auto;
                    height: auto;
                    margin: 0 0.25rem;
                    video,
                    img {
                        transition: all 0.3s ease-in-out;
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 12px;
                    }
                }
            }
        }
        .swiper-button-prev {
            color: white;
            left: 10px;
            @include media-min($md) {
                left: 120px;
            }
            @media only screen and (min-width: 1200px) {
                left: 300px;
            }
        }
        .swiper-button-next {
            color: white;
            right: 10px;
            @include media-min($md) {
                right: 120px;
            }
            @media only screen and (min-width: 1200px) {
                right: 300px;
            }
        }
    }
    .close-btn {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 99;
        cursor: pointer;
    }
}
