// PROFILE COMPONENT
#profile {
    padding: 5rem 0;
    @include media-min($xs) {
        padding: 6rem 0;
    }
    .profile-info {
        img {
            border: 6px solid #2a2a2a;
            border-radius: 100%;
            object-fit: contain;
            width: 6.813rem;
            height: 6.813rem;
            @include media-min($md) {
                width: 14.125em;
                height: 14.125em;
            }
        }
        .vip-frame {
            border: 6px solid #ff3399;
        }
        h3 {
            text-transform: capitalize;
            font-weight: $fnt-wgt-600;
            font-size: $fnt-sz-20;
            @include media-min($md) {
                font-size: $fnt-sz-22;
            }
        }
        p {
            color: black;
        }
        .email-text {
            color: #868686;
            font-size: $fnt-sz-14;
            @include media-min($md) {
                font-size: $fnt-sz-20;
            }
        }
    }
    .settings-btn {
        cursor: pointer;
        display: inline-block;

        div {
            background: transparent;
            width: 8rem;
            min-height: 2rem;
            outline: #ff3399 solid 2px;
            border-radius: 10px;
            font-weight: $fnt-wgt-700;
            font-size: $fnt-sz-14;
            @include media-min($md) {
                width: 10rem;
                min-height: 2.75rem;
                font-size: $fnt-sz-18;
                outline: #ff3399 solid 2px;
            }
        }
        p {
            color: #ff3399;
        }
    }
    .gem-balance,
    .token-balance {
        cursor: default;
        .gem-balance-text {
            color: white;
            font-size: $fnt-sz-12;
            @include media-min($md) {
                font-size: $fnt-sz-14;
            }
        }
        .gem-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            min-width: 8em;
            padding: 0 0.8em;
            min-height: 40px;
            background: #313131;
            border-radius: 20px;
            color: white;
            position: relative;
            cursor: pointer;
            span.gems {
                margin: 0 0.5em;
                font-size: $fnt-sz-14;
                @include media-min($md) {
                    font-size: $fnt-sz-18;
                }
                font-weight: $fnt-wgt-600;
                small {
                    font-weight: $fnt-wgt-600;
                }
            }
            img {
                margin-left: auto;
            }
            .add-icon {
                background: linear-gradient(180deg, #04e4aa 0%, #01b789 100%);
                width: 1.5em;
                height: 1.5em;
                border-radius: 100%;
                color: white;

                span {
                    font-size: 1em;
                    margin-bottom: 0.15em;
                }
            }
        }
        .token-balance-text {
            margin: 0 0.5em;
            font-size: $fnt-sz-14;
            @include media-min($md) {
                font-size: $fnt-sz-18;
            }
            font-weight: $fnt-wgt-700;
            small {
                margin-top: 0.2rem;
                font-weight: $fnt-wgt-600;
            }
        }
        .connect-text {
            font-size: $fnt-sz-14;
            font-weight: $fnt-wgt-600;
        }
    }
    .multiplier-holder {
        .multiplier {
            background: linear-gradient(90deg, #38303d, #231e26);
            position: relative;
            box-shadow: 0px 10px 15px #0000000d;
            @include media-min($md) {
                min-height: 9em;
            }
            border-radius: 10px;
            cursor: pointer;
            p {
                margin-bottom: 0.625rem;
            }
            .multiplier-info {
                color: white;
                font-weight: $fnt-wgt-600;
                font-size: $fnt-sz-12;
                @include media-min($md) {
                    font-size: $fnt-sz-20;
                }
                span {
                    color: #00c1b9;
                    font-weight: $fnt-wgt-600;
                }
            }
            .level {
                .current-level {
                    color: #868686;
                    font-size: $fnt-sz-12;
                    @include media-min($md) {
                        font-size: $fnt-sz-14;
                    }
                }
                .exp {
                    font-size: $fnt-sz-12;
                    @include media-min($md) {
                        font-size: $fnt-sz-14;
                    }
                    color: #868686;
                    background: #313131;
                    border-radius: 20px;
                    align-items: center;
                    justify-content: center;
                    min-height: 2.2rem;
                    min-width: 6.5rem;
                    padding: 0 1rem;
                    .player-exp {
                        font-weight: $fnt-wgt-700;
                    }
                    .current-multiplier-total,
                    span {
                        font-size: 0.75rem;
                        @include media-min($md) {
                            font-size: $fnt-sz-14;
                        }
                    }
                }
            }
            .progress {
                position: relative;
                margin-top: 1em;
                width: 100%;
                border-radius: 1em;
                background-color: #313131;
                height: 1.5em;
                @include media-min($md) {
                    height: 2em;
                }
                .progress-bar {
                    background: linear-gradient(
                        266deg,
                        #00c1b9 0%,
                        #047c98 100%
                    );
                    box-shadow: 0px 10px 20px #6c38ef3f;
                    border-radius: 1em;
                    height: inherit;
                }
            }
            .progressbar-shadow {
                // box-shadow: 0px 10px 20px #64d6aa67;
                position: absolute;
                bottom: 0;
                border-radius: 1em;
                transition: all 0.5s ease;
                height: 1.45em;
            }
        }
    }
    .invite-friends-holder {
        .team {
            position: relative;
            // cursor: pointer;
            @include media-min($md) {
                min-height: 15.375em;
            }
            background: linear-gradient(90deg, #38303d, #231e26);
            border-radius: 10px;
            box-shadow: 0px 10px 15px #0000000d;
            .team-title {
                position: relative;
                z-index: 1;
                font-weight: $fnt-wgt-600;
                font-size: $fnt-sz-12;
                @include media-min($md) {
                    font-size: $fnt-sz-20;
                }
            }
            .refer-text {
                position: relative;
                z-index: 1;
                font-weight: $fnt-wgt-600;
                font-size: $fnt-sz-12;
                @include media-min($md) {
                    font-size: $fnt-sz-20;
                }
                span {
                    color: #f8ba29;
                    font-size: $fnt-sz-12;
                    @include media-min($md) {
                        font-size: $fnt-sz-20;
                    }
                }
            }
            .share-text {
                position: relative;
                z-index: 1;
                color: #868686;
                font-size: $fnt-sz-12;
                @include media-min($md) {
                    font-size: $fnt-sz-14;
                }
                line-height: 1.7;
                width: auto;
            }
            .bg {
                width: 100px;
                height: 140px;
                @include media-min($md) {
                    width: 136px;
                    height: 200px;
                }
                object-fit: cover;
                object-position: top;
            }

            .invite-btn {
                cursor: pointer;
                background: #ff3399;
                width: 10rem;
                min-height: 2rem;
                border-radius: 10px;
                font-weight: $fnt-wgt-600;
                font-size: $fnt-sz-14;
                @include media-min($md) {
                    width: 10rem;
                    min-height: 2.25rem;
                    font-size: $fnt-sz-18;
                }
                p {
                    color: white;
                }
            }
        }
        // .invite-btn {
        //     display: none;
        //     @include media-min($md) {
        //         display: unset;
        //         position: relative;
        //         z-index: 1;
        //         position: absolute;
        //         top: 59%;
        //         left: 50%;
        //         transform: translate(-50%, 50%);
        //         z-index: 1;
        //         background: transparent
        //             linear-gradient(180deg, #04e4aa 0%, #01b789 100%) 0% 0%
        //             no-repeat padding-box;
        //         box-shadow: 0px 18px 20px #00000029;
        //         border-radius: 12px;
        //         font-size: 14px;
        //         color: white;
        //         min-height: 3.5em;
        //         min-width: 14.3em;
        //     }
        // }
    }
    .highscore,
    .rewards {
        cursor: pointer;
        background: linear-gradient(90deg, #38303d, #231e26);
        font-weight: $fnt-wgt-600;
        font-size: $fnt-sz-12;
        min-height: 2.875rem;
        @include media-min($md) {
            font-size: $fnt-sz-20;
            min-height: 4.625rem;
        }
        box-shadow: 0px 10px 15px #0000000d;
        border-radius: 10px;
    }
    .vip-pass {
        .connect-btn {
            cursor: pointer;
            background: #ff3399;
            width: 20rem;
            min-height: 2rem;
            border-radius: 10px;
            font-weight: $fnt-wgt-600;
            font-size: $fnt-sz-14;
            @include media-min($md) {
                width: 20rem;
                min-height: 2.25rem;
                font-size: $fnt-sz-18;
            }
            p {
                color: white;
            }
        }
    }
    .logout {
        color: #ff3399;
        font-weight: $fnt-wgt-700;
        font-size: $fnt-sz-12;
        @include media-min($md) {
            font-size: $fnt-sz-20;
        }
    }
}
