#notification {
    padding: 6em 0;
    h4 {
        font-family: Ilisarniq-Bold;
        font-size: 1.5rem;
    }
    .month-year {
        margin-bottom: 0.9375rem !important;
        color: #5a5a5a;
        font-size: 0.875rem;
        @media only screen and (min-width: 425px) {
            font-size: 1rem;
        }
    }
    .mt-primary {
        margin-top: 0.6875rem;
        @media only screen and (min-width: 768px) {
            margin-top: 1.5rem;
        }
    }
    .mt-secondary {
        margin-top: 3rem;
    }
}

#leaderboard-history,
#friend-invitation {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    top: 0;
    left: 0;
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background-color: rgba(244, 244, 244, 0.9);
    }
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }
    .wrapper {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .close-button {
            position: absolute;
            top: -15px;
            right: 0px;
            z-index: 2;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: white;
            box-shadow: 0px 18px 26px #00000029;
            svg {
                border-radius: 100%;
                padding: 0.4em;
                background: linear-gradient(225deg, #ff4242 0%, #a0084e 100%);
            }
        }
    }
}
