// FOOTER
.footer {
    width: 100%;
    background: #2a2a2a 0% 0% no-repeat padding-box;
    position: relative;

    .footer-container {
        .about-info-container {
            .title-text {
                font-size: $fnt-sz-14;
                font-weight: $fnt-wgt-600;
            }
            .subtitle-text {
                font-size: $fnt-sz-12;
            }
        }

        .join-community-container {
            .title-text {
                font-size: $fnt-sz-14;
                font-weight: bold;
            }
        }

        .terms-and-conditions-container {
            font-size: $fnt-sz-10;
        }
        .logo-image-container {
            .footer-img {
                width: 150px;
                height: auto;
            }
        }
    }
    .copyright {
        color: #868686;
    }
    .title {
        font-size: $fnt-sz-14;
        font-weight: $fnt-wgt-600;
    }
    .subtitle {
        font-size: $fnt-sz-12;
        font-weight: $fnt-wgt-300;
    }
    .join-community {
        font-size: $fnt-sz-14;
        font-weight: $fnt-wgt-500;
    }
    .lower-link {
        color: #ffffff;
        font-size: $fnt-sz-10;
        transform: translateX(-5px);
        padding-right: 5px;
    }
    .game-box-logo {
        img {
            height: 40%;
            width: auto;
            transform: translate(300px, 50px);
        }
    }
}
