@import "./assets/css/variables";
// MISC.
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}
#root {
    overflow-x: hidden;
}
body {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(137deg, #302f2f -6%, #0b0b0b 12%);
    color: white;
    line-height: unset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: $root-fnt-sz;
    font-family: $fnt-fam;
}
a {
    color: unset !important;
    text-decoration: none !important;
}
button {
    outline: none !important;
    border: 0;
    background: transparent;
}
.opacity-0-5 {
    opacity: 0.5;
}
.ellipsis {
    white-space: nowrap;
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.badges {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 70px;
    // width: -webkit-fit-content;
    // width: -moz-fit-content;
    // width: fit-content;
    min-height: 25px;
    padding: 0 1em;
    color: white;
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background-color: rgba(138, 138, 138, 0.3);
    }
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background: rgba(28, 28, 28, 0.45);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
    }
    font-size: 8px;
    @media only screen and (min-width: 768px) {
        font-size: 10px;
    }
}
.blur-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 70px;
    z-index: 2;
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background-color: rgba(244, 244, 244, 0.9);
    }
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        // background: rgb(244, 244, 244);
        // background: linear-gradient(
        //     100deg,
        //     rgba(244, 244, 244, 0) 0%,
        //     rgba(251, 251, 251, 0.6) 40%,
        //     rgba(255, 255, 255, 0.6) 55%,
        //     rgba(255, 255, 255, 0) 100%
        // );
        background: #2a2a2a 0% 0% no-repeat padding-box;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }
}
// BACK BUTTON AND BACK TEXT (USED IN MULTIPLE SEPARATED COMPONENTS)
.back-button {
    box-shadow: 0px 18px 26px #00000029;
    border-radius: 100%;
}

.back-text {
    font-family: $fnt-fam;
    font-size: $fnt-sz-12;
    color: #f8ba29;
    margin-left: 10px;
}

// **********************
/****** COMPONENTS *******/
// *********************

// PRIZES MIX COMPONENTS
.featured,
.premium,
.daily,
.automatedEntry {
    .complete-overlay {
        @supports not (
            (-webkit-backdrop-filter: none) or (backdrop-filter: none)
        ) {
            background-color: rgba(244, 244, 244, 0.9);
        }
        @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            backdrop-filter: blur(17px);
            -webkit-backdrop-filter: blur(17px);
        }
        border-radius: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
        width: 94%;
        @media only screen and (min-width: 480px) {
            width: 96%;
        }
        @media only screen and (min-width: 768px) {
            width: 100%;
        }
        height: 101%;
        background: linear-gradient(180deg, #ffffff00 0%, #00000029 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &:hover {
            cursor: pointer;
        }
    }
}

// BACK BUTTON
.back-button {
    cursor: pointer;
    span {
        color: #f8ba29;
        font-size: $fnt-sz-12;
        font-weight: $fnt-wgt-700;
    }
}

// TOP NAVBAR COMPONENT
.navbar-top {
    position: fixed;
    z-index: 3;
    top: 0;
    min-height: 70px;
    .profile {
        background: #ffffff 0% 0% no-repeat padding-box;
        border-radius: 100%;
        width: 35px;
        height: 35px;
        @media only screen and (min-width: 768px) {
            width: 40px;
            height: 40px;
        }
        img {
            border-radius: 100%;
            width: 35px;
            height: 35px;
            @media only screen and (min-width: 768px) {
                width: 40px;
                height: 40px;
            }
            object-fit: contain;
        }
        &:hover {
            cursor: pointer;
        }
    }
    .gems {
        border-radius: 20px;
        .gem-wrapper {
            display: flex;
            align-items: center;
            min-width: 6em;
            padding: 0 0.8em;
            // padding: 0 3.3em;
            background: #555555;
            border-radius: 20px;
            position: relative;
            min-height: 40px;
            position: relative;
            @media only screen and (min-width: 768px) {
                // width: 7em;
                // padding: 0 4em;
            }
            span {
                margin: 0 0.5em;
                font-size: 0.9rem;
                @media only screen and (min-width: 768px) {
                    font-size: 1rem;
                }
            }
            .gem-icon {
                // position: absolute;
                // left: 10px;
                width: 18px;
                @media only screen and (min-width: 768px) {
                    width: 24px;
                }
            }
            .add-gems-icon {
                // position: absolute;
                // right: 10px;
                width: 18px;
                @media only screen and (min-width: 768px) {
                    width: 22px;
                }
            }
        }
    }
    .notification {
        background: #555555;
        border-radius: 100%;
        position: relative;
        width: 35px;
        height: 35px;
        @media only screen and (min-width: 768px) {
            width: 40px;
            height: 40px;
        }
        .icon {
            width: 20px;
            @media only screen and (min-width: 768px) {
                width: 24px;
            }
        }
        .notification-number {
            position: absolute;
            top: -0.5em;
            right: -1em;
            background: #ff2c44;
            color: white;
            border-radius: 100%;
            width: 20px;
            height: 20px;
            padding: 0.25em 0;
            font-size: 0.625rem;

            span {
                position: relative;
                top: -1px;
            }
        }
    }
    .nav-items {
        font-size: $fnt-sz-14;
        font-weight: $fnt-wgt-700;
        a {
            color: #696969 !important;
        }
        a.active {
            color: #ff007c !important;

            div {
                border-bottom: 4px solid;
            }
        }
    }
}
// TICKET VALUE PANEL - TOURNAMENT & LEADERBOARD COMPONENT
.ticket-values {
    background: linear-gradient(90deg, #ffc742 0%, #eaa400 100%);
    border-radius: 30px;
    box-shadow: 5px 10px 30px #00000029;
    padding: 0.25em;
    border: 5px solid white;
    @media only screen and (min-width: 1441px) {
        padding: 0.3em;
    }
    p {
        font-size: 0.5rem;
        @media only screen and (min-width: 768px) {
            font-size: 0.75rem;
        }
        display: flex;
        align-items: center;
        color: white;
        span {
            font-size: 1.125rem;
            @media only screen and (min-width: 768px) {
                font-size: 1.5rem;
            }
            color: white;

            margin-left: 0.5em;
        }
    }
}

// BOTTOM NAVBAR COMPONENT
.navbar-bottom {
    position: fixed;
    z-index: 1;
    bottom: 1em;
    right: 1em;
    height: 4em;
    width: 92%;
    .navigation-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.35) !important;
        bottom: 0;
        right: 0;
        position: absolute;
        min-height: 4em;
        @media only screen and (max-width: 425px) {
            min-height: 3.375em;
        }
        width: 100%;
        transform-origin: left;
        a {
            opacity: 1;
            visibility: visible;
            p {
                font-size: 0.75rem;
            }
        }
        .hamburger {
            position: relative;
            right: 0;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            transform-origin: left;
            .point {
                width: 7px;
                height: 7px;
                background-color: #d6d6d6;
                border-radius: 100%;
            }
        }
    }
}

// NOTIFICATION COMPONENT
.notification-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
#notification-panel {
    position: fixed;
    top: 5em;
    right: 3%;
    @media only screen and (min-width: 768px) {
        right: 6%;
    }
    @media only screen and (min-width: 992px) {
        right: 18%;
    }
    @media only screen and (min-width: 1200px) {
        right: 17.6%;
    }
    z-index: 3;
    height: auto;
    width: 18.5em;
    @media only screen and (min-width: 360px) {
        width: 21em;
    }
    @media only screen and (min-width: 375px) {
        width: 22em;
    }
    @media only screen and (min-width: 768px) {
        width: 25rem;
    }
    padding: 1em;
    border-radius: 20px;
    box-shadow: 0px 18px 26px #00000029;
    background: white;
    .ui-wrapper {
        p,
        button {
            font-size: 0.875rem;
            color: #5a5a5a;
        }
        button {
        }
    }
    .winner-card {
        .card-wrapper {
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
            min-height: 4.5em;
            border-radius: 12px;
            .inner-panel {
                position: relative;
                z-index: 1;
            }
            .prize-img {
                border-radius: 100%;
                width: 60px;
                height: 60px;
            }
            .inner-wrapper {
                min-height: 3.5em;
                @supports not (
                    (-webkit-backdrop-filter: none) or (backdrop-filter: none)
                ) {
                    background-color: rgba(244, 244, 244, 0.9);
                }
                @supports (
                    (-webkit-backdrop-filter: none) or (backdrop-filter: none)
                ) {
                    backdrop-filter: blur(6px);
                    -webkit-backdrop-filter: blur(6px);
                }
                &:after {
                    content: "";
                    background-color: black;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    border-radius: 6px;
                    opacity: 0.65;
                }
                .game-name {
                    font-size: 0.813rem;
                }
                .reward-name {
                    font-size: 0.563rem;
                }
                .avatar-img {
                    border-radius: 100%;
                }
            }
        }
    }
    .all-seen {
        min-height: 10vh;
        p {
        }
        small {
            color: #8a8a8a;
        }
    }
}
#notification-panel,
#notification {
    .notification-card {
        cursor: pointer;
        .card-wrapper {
            border-radius: 12px;
            .prize-img {
                position: absolute;
                top: 0.3em;
                left: 0.2em;
                width: 3.5em;
                @media only screen and (min-width: 425px) {
                    width: 3.6em;
                    top: 0.2em;
                }
                z-index: 1;
                border-radius: 12px;
                border: 2px solid white;
            }
            .prize-info {
                min-height: 2.7em;
                background: #f2f2f2;
                font-size: 0.625rem;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                p {
                    @media only screen and (max-width: 425px) {
                        font-size: 0.5rem;
                    }
                    &:nth-child(1) {
                        color: #5a5a5a;
                    }
                    &:nth-child(2) {
                        color: #b7b7b7;
                    }
                }
            }
            .game-info,
            .invite-info {
                height: 2.3em;
                @media only screen and (max-width: 425px) {
                    height: 1.9em;
                }
                background: linear-gradient(270deg, #ffc742 0%, #eaa400 100%);
                font-size: 1rem;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                p {
                    height: 2.3em;

                    font-size: 0.875rem;
                    @media only screen and (min-width: 375px) {
                        font-size: 1rem;
                    }
                }
                .title {
                    @media only screen and (max-width: 425px) {
                        font-size: 0.75rem;
                    }
                }
                .ticket {
                    @media only screen and (max-width: 425px) {
                        font-size: 1rem;
                    }
                }
            }
            .invite-info {
                background-color: #d6d6d6;
            }
        }
    }
}

// CARDS MIX - HOME, ACITVITY & WINNERS
.premium,
.automatedEntry {
    .description {
        h1,
        h2 {
            font-size: $fnt-sz-18;
            font-weight: $fnt-wgt-700;
        }
    }
}

// PAYMENT METHODS MODALS
.payment-success,
.payment-failed,
.payment-methods,
.payment-process,
.payment-failed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    width: 100%;
    height: 100%;
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background-color: rgba(244, 244, 244, 0.9);
    }
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper {
        padding: 1.5em 0.6em 0.6em 0.6em;
        // max-width: 568px;
        height: 194px;
        width: 568px;
        // min-height: auto;
        background: transparent
            linear-gradient(124deg, #302f2f 0%, #0b0b0b 100%) 0% 0% no-repeat
            padding-box;
        // box-shadow: 0px 18px 26px #00000029;
        border-radius: 10px;
        .title {
            color: #ffffff;
            font-size: $fnt-sz-18;
        }
        .subtitle {
            color: #868686;
            font-size: $fnt-sz-14;
        }
        .btn-wrapper {
            button {
                &:not(:last-child) {
                    margin-bottom: 1em;
                }
                padding: 0.5em 0;
                // background-color: white;
                // box-shadow: 0px 5px 10px #0000000d;
                // border: 1px solid #7070701a;
                color: #ffffff;
                font-size: $fnt-sz-14;
                border-radius: 10px;
                max-width: 260px;
                height: 56px;
                width: 100%;
                img.grabpay {
                    width: 100px;
                    object-fit: cover;
                }
            }
        }
        .cancel-button {
            margin-top: 1.2em;
            margin-left: 0.8em;
            background: transparent
                linear-gradient(102deg, #1c1c1c 0%, #101010 100%) 0% 0%
                no-repeat padding-box;
            font-weight: $fnt-wgt-300;
        }
        .confirm-button {
            margin-top: 1.2em;
            margin-right: 0.8em;
            background-color: #d3076a;
            font-weight: $fnt-wgt-500;
        }
        .close-button {
            // position: absolute;
            top: -5px;
            right: -15px;
            // width: 40px;
            // height: 40px;
            // border-radius: 100%;
            // background-color: white;
            // box-shadow: 0px 18px 26px #00000029;
            // padding: 0.25em;
            svg {
                width: 75%;
                border-radius: 100%;
                padding: 0.4em;
                // background: linear-gradient(225deg, #ff4242 0%, #a0084e 100%);
                background-color: #f20168;
            }
        }
        @media only screen and (max-width: 767px) {
            p {
                font-size: 12px;
            }
        }
    }
}

.payment-result {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    width: 100%;
    height: 100%;
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background-color: rgba(244, 244, 244, 0.9);
    }
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper {
        padding: 1.5em 0.6em 0.6em 0.6em;
        // max-width: 568px;
        height: 198px;
        width: 329px;
        // min-height: auto;
        background: transparent
            linear-gradient(124deg, #302f2f 0%, #0b0b0b 100%) 0% 0% no-repeat
            padding-box;
        // box-shadow: 0px 18px 26px #00000029;
        border-radius: 10px;
        .title {
            color: #ffffff;
            font-size: $fnt-sz-18;
            font-weight: $fnt-wgt-500;
        }
        .fail-title {
            color: #ff2c44;
            font-size: $fnt-sz-18;
            font-weight: $fnt-wgt-700;
        }

        .subtitle {
            color: #868686;
            font-size: $fnt-sz-14;
        }
        .process-subtitle {
            padding-top: 3em;
            text-align: center;
            color: #868686;
            font-size: $fnt-sz-14;
        }
        .btn-wrapper {
            button {
                &:not(:last-child) {
                    margin-bottom: 1em;
                }
                padding: 0.5em 0;
                // background-color: white;
                // box-shadow: 0px 5px 10px #0000000d;
                // border: 1px solid #7070701a;
                color: #ffffff;
                font-size: $fnt-sz-14;
                border-radius: 5px;
                box-shadow: inset 0px 3px 6px #0000000f;
                max-width: 260px;
                height: 56px;
                width: 100%;
                img.grabpay {
                    width: 100px;
                    object-fit: cover;
                }
            }
        }
        .confirm-button {
            margin-top: 1.2em;
            margin-right: 0.8em;
            background-color: #d3076a;
            font-weight: $fnt-wgt-500;
        }
        .fail-button {
            margin-top: 1.2em;
            margin-right: 0.8em;
            background-color: #ff2c44;
            font-weight: $fnt-wgt-500;
        }
        @media only screen and (max-width: 767px) {
            p {
                font-size: 12px;
            }
        }
    }
}

.payment-success,
.payment-failed {
    .wrapper {
        .title {
            font-size: 1.25rem;
            color: #14daa7;
        }
        .btn-continue {
            width: 100%;
            button {
                background: #14daa7;
            }
        }
        button {
            width: 100%;
            color: white;
            font-size: 1.25rem;

            margin-top: 1em;
            padding: 0.7em 4em;
            border-radius: 12px;
        }
    }
}
.payment-failed {
    .wrapper {
        .title {
            color: #ff2c44;
        }
        .btn-close {
            background: #f20168;
        }
    }
}

// MODAL COMPONENT
.modal-pop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    min-height: 100vh;
    min-width: 100vw;
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background-color: rgba(244, 244, 244, 0.9);
    }
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }
    .modal-body,
    .modal-body-small {
        .close-button {
            top: -12px;
            right: -12px;
        }
        background: transparent
            linear-gradient(132deg, #302f2f 0%, #0b0b0b 100%) 0% 0% no-repeat
            padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 10px;
        padding: 0.7em;
        width: 400px;
        .prize-img {
            width: 18em;
            height: auto;
        }
        .result-info {
            font-size: 1em;
        }
        .title {
            font-size: $fnt-sz-18;
        }
        .subtitle {
            font-size: $fnt-sz-14;
            color: #868686;
            line-height: 1.5;
            .email {
                color: #7824f8 !important;
            }
        }
        ul {
            font-size: 14px;
            color: #868686;
            li {
                line-height: 2;
                .step {
                    p {
                    }
                }
            }
        }
        .earn-tickets,
        .earn-exp {
            background: linear-gradient(90deg, #fdc43d 0%, #efa500 100%);
            border-radius: 6px;
            width: 80px;
            height: 40px;
            font-size: 18px;
        }
        .earn-exp {
            background: linear-gradient(90deg, #fdc33d73 0%, #efa30065 100%);
        }
        button {
            height: 3.5em;
            border-radius: 10px;
            font-size: 14px;
        }
        .btn-yes,
        .btn-results {
            background: #d3076a 0% 0% no-repeat padding-box;
            box-shadow: inset 0px 3px 6px #0000000f;
            border-radius: 5px;
            color: white;
            margin-left: 0.25em;
            font-size: $fnt-sz-14;
            font-weight: bold;
        }
        .btn-no {
            margin-right: 0.25em;
            background: transparent
                linear-gradient(105deg, #1c1c1c 0%, #101010 100%) 0% 0%
                no-repeat padding-box;
            border-radius: 5px;
            font-size: $fnt-sz-14;
            color: #ffffff;
        }
        .btn-results,
        .btn-continue {
            width: 90%;
            margin: auto;
        }
        .continue {
            color: black;
            background: linear-gradient(264deg, #fdc43d 0%, #efa500 100%);
        }
        .claim-later-btn {
            color: #868686;
        }
    }
}

// INFO PAGES
.tnc,
.privacy-policy,
.tournament-rules {
    padding: 12em 0 3em 0;
    .main-desc {
        .title {
            font-size: 1.25rem;
        }
        .subtitle {
            font-size: 1.1rem;
        }
    }
    .title {
        color: #000000;
    }
    .description {
        font-size: 0.75rem;
        color: #868686;
        line-height: 1.5;
        .email {
            color: #7824f8 !important;
        }
    }
    ul.description {
        list-style-type: decimal;
        li {
            margin-bottom: 1.5em;
            line-height: 1.5;
        }
    }
}

// LANDSCAPE ORIENTATION MODAL COMPONENT
.orientation {
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background-color: rgba(244, 244, 244, 0.9);
    }
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
    }
    .title {
        font-size: 1.25rem;
        text-align: center;
        width: 30ch;
    }
}

// TOAST COMPONENT
.toasty {
    position: fixed;
    top: 5rem;
    right: 1rem;
    background: white;
    z-index: 3;
    border-radius: 12px;
    min-width: 20rem;
    min-height: 5rem;
    padding: 1rem;
    transform: translateX(120%);
    opacity: 0;
    visibility: hidden;
}

// EMPTY PAGE - ACTIVITY, WINNERS, HIGHSCORE & NOTIFICATIONS
.no-result {
    min-height: 55vh;
    @media only screen and (min-width: 375px) {
        min-height: 65vh;
    }
    @media only screen and (min-width: 768px) {
        min-height: 60vh;
    }
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
        font-size: 1.75rem;
    }
    .subtitle {
        font-size: 0.9rem;
        color: #868686;
        max-width: 38ch;
        line-height: 1.5;
        a {
            color: #7824f8 !important;
        }
    }
}

@import "./assets/css/all";
