// CLOSE BUTTON
.close-button {
    position: absolute;
    top: -15px;
    right: -7px;
    width: 30px;
    height: 30px;
    @include media-min($md) {
        right: -1rem;
        width: 36px;
        height: 36px;
    }
    border-radius: 100%;
    box-shadow: 0px 10px 18px #00000029;
}

// CLAIMED PRIZE DETAILS MODAL
.claim-prize-detail-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background-color: rgba(244, 244, 244, 0.9);
    }
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper {
        border-radius: 20px;
        color: #868686;
        font-size: 0.875rem;
        min-height: 65vh;
        .close-button {
            z-index: 3;
            width: 30px;
            height: 30px;
            @include media-min($md) {
                width: 36px;
                height: 36px;
            }
        }
        .prize-img {
            width: 90%;
            @include media-min($md) {
                width: 60%;
            }
            img {
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                min-height: 10em;
                @include media-min($xs) {
                    min-height: 13em;
                }
                width: 100%;
                object-fit: cover;
            }
        }
        .prize-info {
            position: relative;
            background: #1d1d1d 0% 0% no-repeat padding-box;
            box-shadow: inset 0px 3px 6px #0000000f;
            border-radius: 5px;
            .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                z-index: 0;
                background: linear-gradient(
                    183deg,
                    rgba(black, 0) 0%,
                    rgba(#3f3f3f, 0.2) 60%,
                    rgba(black, 0.577766) 100%
                );
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
            }
            .badge {
                position: absolute;
                top: 1em;
                left: 1em;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 70px;
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                min-height: 25px;
                padding: 0 1em;
                color: white;
                @supports not (
                    (-webkit-backdrop-filter: none) or (backdrop-filter: none)
                ) {
                    background-color: rgba(244, 244, 244, 0.9);
                }
                @supports (
                    (-webkit-backdrop-filter: none) or (backdrop-filter: none)
                ) {
                    background-color: #a4a4a582;
                    backdrop-filter: blur(4px);
                    -webkit-backdrop-filter: blur(4px);
                }
                font-size: 0.5rem;
                @include media-min($xs) {
                    font-size: 0.625rem;
                }
            }
            .prize-text {
                width: 100%;
                color: #f8ba29;
                .title {
                    font-size: $fnt-sz-14;
                    font-weight: $fnt-wgt-700;
                    // @include media-min($sm){
                    //     font-size: 0.875rem;
                    // }
                    // @media only screen and (min-width: 768px) {
                    //     font-size: 1.5rem;
                    // }
                    // @media only screen and (min-width: 1200px) {
                    //     font-size: 1.125rem;
                    // }
                    // @media only screen and (min-width: 1320px) {
                    //     font-size: 1.25rem;
                    // }
                    line-height: 120%;
                }
                .subtitle {
                    font-size: $fnt-sz-12;
                    // @media only screen and (min-width: 1320px) {
                    //     font-size: 0.875rem;
                    // }
                    line-height: 120%;
                }
                .content {
                    color: #868686;
                    font-size: $fnt-sz-10;
                }
            }
        }
        .claim-info {
            background: linear-gradient(141deg, #302f2f 0%, #0b0b0b 100%);
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 10px;
            width: 100%;
            @include media-min($md) {
                width: 80%;
            }
            margin: 0 auto;
            .claimed-date {
                .date {
                    font-size: $fnt-sz-12;
                }
            }
            .separator {
                width: 100%;
                height: 1px;
                background-color: #434343;
            }
            .delivery-address {
                .wallet-address {
                    font-size: $fnt-sz-14;
                    font-weight: $fnt-wgt-700;
                }
            }
        }
    }
}
