.nav-bar {
    z-index: 2;
    width: 100vw;
    height: 60px;
    .blur-background {
        background: #2a2a2a8a;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }
    .logo {
        width: 10rem;
        @include media-min($lg) {
            width: 13rem;
        }
    }
    button.nav-login {
        height: 40px;
        width: 150px;
        border: 2px solid #ff3399;
        border-radius: 10px;
        font-size: $fnt-sz-14;
        font-weight: bold;
        color: #ff3399;
    }
}
