.nav-bar {
    z-index: 2;
    width: 100% !important;
    height: 60px !important;
    //TODO: adjusting the colors
    //for the blurred background
    .blur-background {
        background: linear-gradient(
            100deg,
            rgba(244, 244, 244, 0) 0%,
            rgba(251, 251, 251, 0.6) 40%,
            rgba(255, 255, 255, 0.6) 55%,
            rgba(255, 255, 255, 0) 100%
        );
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    .items {
        // padding: 0px 231px;
        @media only screen and (max-width: 425px) and (min-width: 320px) {
            padding-left: min(21px, 5.83333vw);
            padding-right: min(21px, 5.83333vw);
        }
        @media only screen and (min-width: 425px) {
            padding-left: min(17.29vw, 231px);
            padding-right: min(17.29vw, 231px);
        }
        .logo-img-wrapper {
            .logo {
                width: 112px;
                height: auto;
            }
        }
        .login-button-wrapper {
            button.nav-login {
                // height: 40px;
                height: clamp(30px, 0.083333vw, 40px);
                width: 151px;
                border: 2px solid #ff007c;
                border-radius: 10px;
                font-size: $fnt-sz-14;
                font-weight: bold;
                letter-spacing: 0px;
                color: #ff027d;
            }
        }
    }
}
