// PAYMENT COMPONENT
#payment-panel {
    position: fixed;
    top: 0;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(
        closest-side at 50% 70%,
        #fcfcfc 0%,
        #ededed 100%
    );
    h4 {
        font-family: Ilisarniq-Bold;
    }
    .total-title {
        font-size: 14px;
        color: #808080;
    }
    .product {
        background: #e5e5e5;
        border-radius: 10px;
        .product-title {
            font-size: 14px;
            color: #808080;
        }
        .product-price {
            font-size: 20px;
            font-family: Ilisarniq-Bold;
        }
    }
    .line {
        background: #bfbfbf;
        width: 1px;
        height: 98%;
    }
    .payment-wrapper {
        width: 100%;
        label {
            font-size: 14px;
            color: #868686;
        }
        input,
        .StripeElement {
            display: block;
            max-width: 100%;
            width: 100%;
            font-size: 1em;
            outline: 0;
            padding: 24px 14px;
            border-radius: 10px;
            border: 1px solid #bfbfbf;
            background: #f7f5f5;
        }
        .card-number {
            .StripeElement {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
            .img-wrapper {
                position: absolute;
                top: 35%;
                right: 10px;
            }
        }
        .expiry-date {
            .StripeElement {
                border-right: 0;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 0;
            }
        }
        .ccv {
            .StripeElement {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 10px;
            }
            .img-wrapper {
                position: absolute;
                top: 35%;
                right: 10px;
            }
        }
        .expiry-date,
        .ccv {
            .StripeElement {
                border-top: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
        button {
            border: 0;
            outline: 0;
            line-height: 40px;
            letter-spacing: 0.025em;
            padding: 0 14px;
            width: 100%;
            min-height: 3em;
            margin: 3em 0 3em 0;
            @media only screen and (min-width: 768px) {
                margin: 3em 0 0 0;
            }
            font-size: 20px;
            font-family: Ilisarniq-Bold;
            background: linear-gradient(262deg, #fdc43d 0%, #efa500 100%);
            border-radius: 20px;
            .price {
                font-family: Ilisarniq-Bold;
            }
        }
    }
}
