// PAYMENT COMPONENT
#payment-panel {
    position: fixed;
    top: 0;
    z-index: 5;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #121212 0%, #000000 100%);
    .total-title {
        font-size: $fnt-sz-14;
        color: #808080;
    }
    h4 {
        font-size: $fnt-sz-20;
    }
    .product {
        background: #1f1e1e;
        border: 1px solid #242424;
        border-radius: 5px;
        .product-title {
            font-size: $fnt-sz-14;
            color: #808080;
        }
        .product-price {
            font-size: $fnt-sz-20;
        }
    }
    .estimation {
        font-size: $fnt-sz-14;
        color: #868686;
        span {
            color: white;
            font-weight: $fnt-wgt-600;
        }
    }
    .line {
        background: #bfbfbf;
        width: 1px;
        height: 98%;
    }
    .payment-wrapper {
        width: 100%;
        h4 {
            font-size: $fnt-sz-20;
        }
        label {
            font-size: $fnt-sz-14;
            color: #868686;
        }
        input,
        .StripeElement {
            display: block;
            max-width: 100%;
            width: 100%;
            font-size: $fnt-sz-14;
            outline: 0;
            padding: 24px 14px;
            border-radius: 10px;
            border: 1px solid #242424;
            background: white;
        }
        .card-number {
            .StripeElement {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
            .img-wrapper {
                position: absolute;
                top: 35%;
                right: 10px;
            }
        }
        .expiry-date {
            .StripeElement {
                border-right: 0;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 0;
            }
        }
        .ccv {
            .StripeElement {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 10px;
            }
            .img-wrapper {
                position: absolute;
                top: 35%;
                right: 10px;
            }
        }
        .expiry-date,
        .ccv {
            .StripeElement {
                border-top: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
        button {
            border: 0;
            outline: 0;
            line-height: 40px;
            letter-spacing: 0.025em;
            padding: 0 14px;
            width: 18rem;
            min-height: 4rem;
            margin: 3rem 0 0 0;
            font-size: $fnt-sz-14;
            color: white;
            background: #ff3399;
            box-shadow: inset 0px 3px 6px #0000000f;
            border-radius: 5px;
        }
        .agreement {
            color: #868686;
            width: 55ch;
        }
    }
}
