// PREMIUM COMPONENT
.premium {
    .px-custom {
        padding: 0 1rem !important;
        @media only screen and (min-width: 768px) {
            padding: 0 5.5rem !important;
        }
        @media only screen and (min-width: 992px) {
            padding: 0 1rem !important;
        }
        @media only screen and (min-width: 1200px) {
            padding: 0 1.1rem !important;
        }
        @media only screen and (min-width: 1920px) {
            padding: 0 1rem !important;
        }
    }
    .card-wrapper {
        min-height: 40vh;
        @media only screen and (min-width: 767px) {
            min-height: 25vh;
        }
        @media only screen and (min-width: 1200px) {
            min-height: 45vh;
        }
    }
    .ticket-info {
        padding: 0.7em;
        .your-tickets {
            img.icon {
                width: 18px;
                @media only screen and (min-width: 480px) {
                    width: 29px;
                    height: 17px;
                    object-fit: cover;
                }
            }
        }
        .pool-tickets {
            img.icon {
                width: 18px;
                @media only screen and (min-width: 480px) {
                    width: 24px;
                    height: 27px;
                    object-fit: cover;
                }
            }
        }
        .ticket-wrapper {
            .your-tickets,
            .pool-tickets {
                .label {
                    font-size: 0.625rem;
                    @media only screen and (min-width: 360px) {
                        font-size: 0.75rem;
                    }
                    @media only screen and (min-width: 1320px) {
                        font-size: 0.875rem;
                    }
                    line-height: 133%;
                    color: #868686;
                }
                .tickets {
                    font-size: 0.75rem;
                    @media only screen and (min-width: 360px) {
                        font-size: 0.875rem;
                    }
                    @media only screen and (min-width: 768px) {
                        font-size: 1.5rem;
                    }
                    @media only screen and (min-width: 1200px) {
                        font-size: 1.125rem;
                    }
                    @media only screen and (min-width: 1320px) {
                        font-size: 1.25rem;
                    }
                    
                }
                .required-tickets {
                    color: #868686;
                    font-size: 0.625rem;
                    @media only screen and (min-width: 768px) {
                        font-size: 0.875rem;
                    }
                }
            }
        }
        .game-icon {
            width: 80px;
            height: 70px;
            object-fit: cover;
            @media only screen and (min-width: 768px) {
                height: 90px;
                width: 95px;
            }
            @media only screen and (min-width: 1315px) {
                height: 90px;
                width: 100px;
            }
        }
    }
}
