// PREMIUM COMPONENT
.premium {
    .card-wrapper {
        position: relative;
        background: linear-gradient(137deg, #302f2f -5%, #0b0b0b 30%);
        border-radius: 17px;
        min-height: clamp(10rem, 30vh, 20rem);
        width: inherit;
        .prize-id {
            position: absolute;
            top: 0.6rem;
            left: 0.6rem;
            font-size: $fnt-sz-8;
            @include media-min($md) {
                font-size: $fnt-sz-10;
            }
        }
        picture {
            img {
                width: 100%;
                @include media-min($md) {
                    min-height: 18.125rem;
                }
                object-fit: cover;
                border-top-right-radius: 17px;
                border-top-left-radius: 17px;
            }
        }
        .prize-info {
            .prize-title {
                font-size: $fnt-sz-14;
                font-weight: $fnt-wgt-600;
                width: 18ch;
                white-space: nowrap;
                overflow: hidden;
                display: inline-block;
                text-overflow: ellipsis;
            }
            .prize-subtitle {
                font-size: $fnt-sz-12;
                white-space: nowrap;
                width: 20ch;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
            }
            .token-label {
                color: #00c1b9;
                font-size: $fnt-sz-12;
                @include media-min($md) {
                    font-size: $fnt-sz-10;
                }
            }
            .token-value {
                font-size: $fnt-sz-12;
            }
        }
        .remaining-tokens {
            font-size: $fnt-sz-12;
            color: #9d9d9d;
            background: #1d1d1d;
            box-shadow: inset 0px 3px 6px #0000000f;
            border-radius: 0px 0px 10px 10px;
            min-height: 2.5rem;
            @media only screen and (min-width: 768px) {
                min-height: 3.5rem;
            }
        }
    }
}
