#not_found_page {
    padding: 5rem 0;
    @include media-min($xs) {
        padding: 6rem 0;
    }

    .main-wrapper {
        margin: 0;

        @include media-min($md) {
            margin: 3rem 0;
        }

        @include media-min($xl) {
            margin: 4rem 0;
        }
    }

    img {
        width: 100%;
        max-width: 500px;
    }

    .title {
        color: #ff3399;
        font-size: $fnt-sz-20;
        font-weight: $fnt-wgt-700;

        @include media-min($md) {
            font-size: $fnt-sz-30;
        }
    }

    p {
        font-size: $fnt-sz-14;
    }

    .cta-btn {
        font-size:  $fnt-sz-12;
        cursor: pointer;
    }
}

#login {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            180deg,
            #00000000 37%,
            #00000073 60%,
            #000000 100%
        );
    }
    .wrapper {
        position: relative;
        z-index: 1;
        min-height: 4rem;
        background: linear-gradient(121deg, #302f2f 0%, #0b0b0b 100%);
        .welcome-text {
            font-size: $fnt-sz-20;
            font-weight: $fnt-wgt-700;
            text-transform: uppercase;
        }
        .subtitle {
            color: #868686;
            font-size: $fnt-sz-14;
        }
        form {
            margin: 0 auto;
            width: clamp(17rem, 25vw, 25rem);
            @include media-min($sm) {
                width: clamp(22rem, 25vw, 25rem);
            }
            .email,
            .password {
                background: #3f3f3f;
                box-shadow: inset 0px 3px 6px #0000000f;
                border: 1px solid #242424;
                border-radius: 5px;
                height: 3.25rem;
                color: #9c9c9c;
                font-size: $fnt-sz-14;
            }
            ::placeholder {
                color: #9c9c9c;
                opacity: 1;
            }
            .error {
                font-weight: $fnt-wgt-600;
                font-size: $fnt-sz-12;
            }
            .submit {
                background: #ff3399;
                box-shadow: inset 0px 3px 6px #0000000f;
                border-radius: 5px;
                font-size: $fnt-sz-14;
                font-weight: bold;
                color: white;
                height: 3.25rem;
                margin: 0 auto;
                width: clamp(14rem, 21vw, 21rem);
                @include media-min($sm) {
                    width: clamp(19rem, 21vw, 21rem);
                }
            }
            .forgot-password {
                color: #868686;
                font-size: $fnt-sz-12;
            }
        }
    }
}